/* Empty. Add your own CSS if you like */


.vid video {
    position: relative;
    left: 50%;
    top: 0%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* The following will size the video to fit the full container. Not necessary, just nice.*/
    min-width: 100%;
    min-height: 100%;
   -webkit-transform: translate(-50%,0%);
    -moz-transform: translate(-50%,0%);
    -ms-transform: translate(-50%,0%);
    transform: translate(-50%,0%);
    z-index: 0;
}


.bar.bar-balanced,
.button.button-balanced {
    background-color: #1991b3 !important;
}