{
  "appName": "",
  "playStoreUrl": "",
  "itunesUrl": "",
  "socialShareMessage": "",
  "adMob": {
    "android": {
        "banner": "",
        "interstitial": ""
    },
    "ios": {
      "banner": "",
      "interstitial": ""
    }
  }
}
