{
  "buildEnv": "dev",
  "facebookAppId": "",
  "facebookAppName": "",
  "parseAppId": "",
  "parseJavascriptKey": "",
  "parseClientKey": "",
  "parseServerUrl": "http://localhost:1337/parse",
  "linkedInId": "",
  "linkedInSecret": ""
}
