{
  "buildEnv": "prod",
  "facebookAppId": "",
  "facebookAppName": "",
  "parseAppId": "",
  "parseJavascriptKey": "",
  "parseClientKey": "",
  "parseServerUrl": "",
  "linkedInId": "",
  "linkedInSecret": ""
}
