<ion-view view-title="{{'ADMIN' | translate}}" cache-view="false">
    <ion-content>

        <div class="wide center padding-10">
            <button class="button button-block button-positive" ui-sref="menu.adminEmailSearch">Search by email</button>
            <button class="button button-block button-positive" ui-sref="menu.adminNameSearch">Search by name</button>
            <button class="button button-block button-positive" ui-sref="menu.reportedUsers">Reported Users</button>
            <button class="button button-block button-positive" ui-sref="menu.bannedUsers">Banned Users</button>
            <!--<button class="button button-block button-positive" ui-sref="menu.adminPhotoReview">Photo Review</button>-->
            <button class="button button-block button-positive" ui-sref="menu.adminClinics">Become a Parent FAQ</button>
            <button class="button button-block button-positive" ui-sref="menu.adminWhereUHeardUs">Where U Heard Us List</button>
            <button class="button button-block button-positive" ui-sref="menu.adminVoteReport">Vote Report</button>
            <button class="button button-block button-positive" ui-sref="menu.adminAbout">About JAB</button>
            <button class="button button-block button-positive" ui-sref="menu.applyBadges">Apply Badges</button>
            <!--<button class="button button-block button-positive" ui-sref="menu.adminGraph">Graph Report</button>-->
            <!--
            <button class="button button-block button-stable" ui-sref="menu.contactMessages" >Contact Messages</button>
            -->
        </div>

    </ion-content>
</ion-view>