<ion-view title="User Admin" ng-controller="UserAdmin as vm">


    <ion-content>
        <div ng-if="vm.user">
            <div style="padding: 10px;">
                <b>Name: </b>{{vm.user.profile.name}}</b><br/>
                <b>Email: </b>{{vm.user.getEmail()}}</b><br/>
                <b># Matches:</b> {{vm.user.matches.length}}<br/>
                <b>Status:</b> {{vm.user.status}}<br/>
                <b>Premium:</b> {{vm.user.premium ? 'Yes' : 'No'}}<br/>
                <b>Credits:</b> {{vm.user.credits}}<br/>
                <b>Created:</b> {{vm.user.createdAt}}<br/>
            </div>

            <div ng-if="!vm.user.profile.photos">No profile photos</div>
            <ion-list show-delete="true">
                <ion-item ng-repeat="photo in vm.user.profile.photos" class="item-thumbnail-left">
                    <img ng-src="{{photo.url()}}">
                    <!--
                    <ion-delete-button class="ion-minus-circled"
                                       ng-click="vm.deletePhoto(photo.url())">
                    </ion-delete-button>
                    -->
                </ion-item>
            </ion-list>

            <div class="wide center padding-10">
                <button class="button button-block button-assertive" ng-click="vm.deleteUser()">Delete User</button>
                <button class="button button-block button-assertive" ng-click="vm.banUser()">Ban User</button>
            </div>
        </div>
    </ion-content>
</ion-view>