@import 'colors.scss';

/* --- Chat --- */


/* This is need for the chat screen otherwise there is a pixel gap between the button bar and the message box */

.bar-subfooter {
    bottom: 43px;
}

.subfooter-height {
    height: 43px;
}

.auto-height {
    height: auto !important;
}


/* fixes an ios bug bear */

button.ion-android-send {
    padding-top: 2px;
}


/* add this to keep your footer buttons down
at the bottom as the textarea resizes */

.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
}

img.profile-pic.left {
    left: 10px;
}

img.profile-pic.right {
    right: 10px;
}

img.profile-pic.circle {
    right: 30px;
    top: 0px;
    border-radius: 100%;
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.chat-header {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.message {
    font-size: 14px;
}

.message-detail {
    white-space: nowrap;
    font-size: 10px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-footer {
    border: 1px 0 0 0;
    border-style: solid;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-bubble {
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    position: relative;
    margin: 8px;
    max-width: 80%;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.pending-list {
    padding: 15px;
}

.card,
.button,
image {
    border-radius: 8px;
}

td-card {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    width: 100%;
    margin-left: -50%;
    height: 100%;
}

/* --- Chat --- */

.chat-unread {
    font-weight: bold;
}


/* allows the bar-footer to be elastic /*
/* optionally set a max-height */


/* maxlength on the textarea will prevent /*
/* it from getting too large also */

.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}

.item-input-wrapper {
    background-color: white !important;
}

.chat-bubble.right {
    background-color: $chat-bubble-right-background;
    color: $chat-bubble-right-text;
    float: right;
    margin-right: 55px;
}

.chat-bubble.left {
    background-color: $chat-bubble-left-background;
    color: $chat-bubble-left-text;
    float: left;
    margin-left: 55px;
}

.chat-date-recieved {
    font-size: 12px;
    color: $chat-date-recieved;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

.chat-bubble.failed {
    color: darkred;
}