@import 'colors.scss';

/* ------ ------ App setting and Discovery ------ ------- */
.red-text{
    color: red;
}

/* --- Discovery Preferences Slider  ---*/

.custom-slider div.handle.low {
    visibility: hidden;
}

.custom-slider div.slider-bar .selection {
    left: 0px !important;
}

[slider] div.slider-bar .selection,
slider div.slider-bar .selection {
    background: #bf7fcc
}
.settings-header{
    text-align: center;
    padding: 10px;
    color: $assertive;
    font-size: 22;
    
}
.settings-dropdown{
    border-top: solid $assertive 3px;
}
.help-button {
    border: solid $calm 3px;
    border-radius: 10px;
    background-color: white !important;
    color: $energized;
}
button.button.help-button:active{
    border-color: $energized !important;
}