<ion-view title="My services" class="background-calm" ng-controller="SpServices as vm">
  <ion-nav-buttons side="right">
        <i class="button button-icon icon ion-ios-plus-outline" ng-click="vm.addServiceModal.show()"></i>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-refresher on-refresh="vm.doRefresh()"></ion-refresher>
    <div class="list card">
        <div class="item item-body">
          <div class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#632985;">Add and manage your own company services. Allow user make contract with you with setting service requirements</p>
          </div>
        </div>
    </div>
    <ion-list show-delete="false" can-swipe="true">
      <ion-item ng-if="!vm.services.length">
        Services don't found
      </ion-item>
      <ion-item ui-sref="sp.view-service({'service':service})" ng-repeat="service in vm.services | orderBy:'active':true">
        <div style="float:left">
          {{service.title}}
          <p>$ {{service.price}}</p>
        </div>
        <span class="item-note">
          <p ng-if="!service.active">Disabled</p>
          <p ng-if="service.active">Active</p>
        </span>
        <ion-option-button class="button-balanced icon ion-edit" ng-click="vm.editService(service)"></ion-option-button>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="vm.deleteService(service.id)"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>