<ion-view view-title="{{profile.name}}" ng-controller="SearchProfileView as vm">
    <ion-nav-buttons side="right">
        <!--<i class="button button-icon icon ion-close search-profile-view-icon" ng-click="vm.reject()"></i>-->
        <!--<i class="button button-icon icon ion-checkmark" ng-click="vm.like()"></i>-->
        <!--Share and options buttons moved to profile-details.html-->
        <!--<i class="button button-icon icon ion-android-share-alt" ng-click="vm.share()"></i>-->
        <i class="button button-icon icon ion-android-more-vertical" ng-click="vm.profileOptions()"></i>

    </ion-nav-buttons>

    <ion-content>
        <profile-details profile="profile"></profile-details>
    </ion-content>
    <div class="material-cross-button-container">
        <i class="button button-icon icon ion-close search-profile-view-icon floating-tick-cross-button" ng-click="vm.reject()"></i>
    </div>

    <div class="material-tick-button-container">
        <i class="button button-icon icon ion-checkmark floating-tick-cross-button" ng-click="vm.like()"></i>
    </div>
    <!--<span class="fixed-fade-box" />-->
</ion-view>