<ion-view view-title="{{profile.name}}" ng-controller="SearchProfileView as vm">
    <ion-nav-buttons side="right">
        <i class="button button-icon icon ion-android-close" ng-click="vm.reject()"></i>
        <i class="button button-icon icon ion-ios-heart-outline" ng-click="vm.like()"></i>
        <i class="button button-icon icon ion-android-more-vertical" ng-click="vm.profileOptions()"></i>
    </ion-nav-buttons>

    <ion-content>
        <profile-details profile="profile"></profile-details>
    </ion-content>
</ion-view>
