<ion-view title="Enquiries" id="enquiries-page" class="background-calm" ng-controller="SpEnquiries as vm">
  <ion-content padding="true" class="has-header">
    <ion-refresher on-refresh="vm.doRefresh()"></ion-refresher>
    <ion-list>
      <ion-item ng-if="!vm.keys">Enquiries don't found</ion-item>
      <div ng-repeat="key in vm.keys">
          <ion-item class="item-divider">
            <small style="float:right;">{{key}}</small>
          </ion-item>
          <ion-item 
                  class="enquire-item"
                  ng-class="{'not-readed':!enquire.has_read}"
                  ui-sref="sp.view-enquire({enquire:enquire})" 
                  ng-repeat="enquire in vm.enquiries[key]">
            <div></div>
            <small>
              <b>{{enquire.service_name}}</b>
            </small>
            <br>
            <small>Message : {{enquire.message}}</small>
            <br>
            <small>Customer : {{enquire.name}}</small>
            <br>
          </ion-item>
      <ion-list>
    </div>
  </ion-content>
</ion-view>