<ion-view title="HotBed" ng-controller="HotBed as vm">

    <ion-content>
        <div ng-if="vm.hotbed">

            <div class="list card">
                <div class="item">
                    <h2>{{vm.hotbed.title}}</h2>
                    <p ng-if="vm.hotbed.active">Active</p>
                    <p ng-if="!vm.hotbed.active">Disabled</p>
                </div>
                <div class="item item-body">
                    <div class="row">
                        <div class="col">
                            <p style="margin-top: 0px;">Comments</p>
                        </div>
                        <div class="col">
                            <p style="margin-top: 0px;">{{vm.hotbed.comments}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="margin-top: 0px;">Created at</p>
                        </div>
                        <div class="col">
                            <p style="margin-top: 0px;">{{vm.hotbed.createdAt | date:'dd MMM yyyy'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="margin-top: 0px;">Geolocation name</p>
                        </div>
                        <div class="col">
                            <p style="margin-top: 0px;">{{vm.hotbed.location.name}}</p>
                        </div>
                    </div>
                </div>
                 <div class="item item-body">
                    <!-- Geolocation -->
                    <div id="map2" data-tap-disabled="true" style="height:300px;"></div>
                </div>
            </div>

        </div>

        <div class="wide center padding-10">
                <button class="button button-block button-assertive" ng-click="vm.delHotBed(vm.hotbed)">Delete HotBed</button>
        </div>

    </ion-content>
</ion-view>