<ion-view view-title="HotBeds" ng-controller="HotBeds as vm">

    <ion-content>

        <div ng-show="!vm.hotbeds.length" style="text-align: center;font-family:'Avenir Next LT Pro Regular';font-size:18px">
            <br/>
            {{'No results' | translate}}<br/>
        </div>
        <div class="list">
            <a class="item item-icon-right" 
               ng-repeat="hotbed in vm.hotbeds track by hotbed.id" 
               ui-sref="^.adminHotBed({hotbed : hotbed})"
            />
                <h2>{{::hotbed.title}}</h2>
                <p ng-if="hotbed.active">Active</p>
                <p ng-if="!hotbed.active">Disabled</p>
                <span class="item-note">
                        <i class="icon ion-chevron-right"></i>
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>
