<ion-view title="Service" ng-controller="Service as vm">

    <ion-content>
        <div ng-if="vm.service">

            <div class="list card">
                <div class="item">
                    <div class="row">
                        <div class="col col-75">
                            <h2>{{vm.service.title}}</h2>
                            <p ng-if="vm.service.active">Active</p>
                            <p ng-if="!vm.service.active">Disabled</p>
                        </div>
                        <div class="col">
                            <span class="item-note">
                                <h2>${{vm.service.price}}</h2>
                                {{vm.service.shows.summary}} Shows
                                <br/>
                                {{vm.service.clicks.summary}} Clicks
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item item-body">
                    <img ng-if="vm.service.image" class="full-image" ng-src="{{vm.service.image}}">
                    <div ng-if="vm.service.video"  class="video-container">
                        <iframe ng-src="{{vm.service.video}}" frameborder="0" width="560" height="315"></iframe>
                    </div>
                </div>
                <div class="item item-body">
                    <div class="row">
                        <div class="col">
                            <p style="margin-top: 0px;">Spiel</p>
                        </div>
                        <div class="col">
                            <p style="margin-top: 0px;">{{vm.service.spiel}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="margin-top: 0px;">Created at</p>
                        </div>
                        <div class="col">
                            <p style="margin-top: 0px;">{{vm.service.createdAt | date:'dd MMM yyyy'}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p style="margin-top: 0px;">Audience tags</p>
                        </div>
                        <div class="col">
                            <p style="margin-top: 0px;">
                                <span ng-repeat="tag in vm.service.audience.tags">#{{tag}}&nbsp;</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="list">
                    <div class="item item-divider">
                        Service Enquires
                    </div>

                    <a class="item item-avatar" 
                       ng-repeat="enquire in vm.enquiries track by enquire.id"
                       ui-sref="^.userAdmin({userId : enquire.uid})"
                    />
                        <img style="top: 16px;left: 16px;max-width: 40px !important;max-height: 40px !important;" ng-src="{{enquire.image_cover}}">
                        <div class="row" style="padding:0px;">
                            <div class="col" style="padding:0px;">
                                    <h2>{{::enquire.name}}</h2>
                                    <p style="max-width:200px">{{::enquire.message}}</p>
                            </div>
                            <div class="col" style="padding:0px;">
                                <span class="item-note">
                                    {{::enquire.createdAt | date:'dd MMM yyyy H:mm'}}
                                </span>
                            </div>
                        </div>
                        
                    </a>
            </div>

        </div>
         <div class="wide center padding-10">
                <button class="button button-block button-assertive" ng-click="vm.delPrService(vm.service)">Delete service</button>
        </div>
    </ion-content>
</ion-view>