<ion-view view-title="Users" ng-controller="Users as vm">

    <ion-content>

        <div ng-show="!vm.users.length" style="text-align: center;font-family:'Avenir Next LT Pro Regular';font-size:18px">
            <br/>
            {{'No results' | translate}}<br/>
        </div>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item class="item item-avatar" ng-repeat="user in vm.users track by $index">
                <img style="top: 16px;left: 16px;max-width: 40px !important;max-height: 40px !important;" ng-src="{{user.photos[0]._url}}">
                <h2>{{::user.name}}</h2>
                <p>{{::user.p_role}}</p>
                <ion-option-button class="button-assertive icon ion-trash-a" ng-click="vm.deleteUser(vm.provider_id,user.uid)"></ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view> 
