<div ng-show="friends.length">
    <b>{{'FRIENDS_USING' | translate}} ({{friends.length}}{{friends.length==25 ? '+' : ''}})</b>
    <ion-scroll direction="x">
        <div ng-style="{width:((70+6) * friends.length + 10)+'px'}">
            <div class="fbItem" ng-repeat="friend in friends track by $index">
                <img class="fblikeImg" ng-src="https://graph.facebook.com/v2.2/{{friend.id}}/picture"/><br/>
                {{friend.name}}
            </div>
        </div>
    </ion-scroll>
</div>
<div ng-show="likes.length">
    <b>{{'MY_INTERESTS' | translate}} ({{likes.length}}{{likes.length==25 ? '+' : ''}})</b>
    <ion-scroll direction="x">
        <div ng-style="{width:((70+6) * likes.length + 10)+'px'}">
            <div class="fbItem" ng-repeat="like in likes track by $index">
                <img class="fblikeImg" ng-src="https://graph.facebook.com/v2.2/{{like.id}}/picture"/><br/>
                {{like.name}}
            </div>
        </div>
    </ion-scroll>
</div>
