<ion-view cache-view="false" view-title="About Just a Baby">
    <ion-nav-buttons side="right">
        <i class="button button-icon icon ion-ios-color-wand-outline" ></i>
    </ion-nav-buttons>
    <ion-content>
        <div class="card padding-15 center">
            <div class="video-container" ng-class="about.videoId ? '' : 'hidden'">
                <iframe width="560" height="315" ng-src="{{trustSrcurl(about.videoId)}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div style="white-space: pre-wrap; margin-top: 10px;">
                {{about.message}}
            </div>
        </div>
    </ion-content>
</ion-view> 