<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <i class="button button-icon icon ion-android-arrow-back" ng-click="closeClinicsModal()"></i>
        </div>
        <h1 class="title">FAQ's</h1>
        <div class="buttons button-right">
            <button class="button button-icon" ng-click="clinicSettings($event)">
                <i class="icon ion-gear-a" ></i>
            </button>
        </div>

        </div>
    </ion-header-bar>
    <ion-content >
        <ion-list>
            <div ng-repeat="item in clinicQuestions" class="clinic-container" ng-show="showcase == item.type || showcase == 'General'">
                <div ng-click="showItem{{item.id}} = !showItem{{item.id}}">
                    <ion-item style="text-align: center; color: rgb(43, 172, 143);" class="item-calm wrap-space" ng-class="{active: showItem{{item.id}}}">
                        <i class="icon" ng-class="showItem{{item.id}} ? 'ion-minus' : 'ion-plus'"></i> &nbsp; <b>{{item.question}}</b>
                    </ion-item>
                    <ion-item class="item-accordion" style="white-space: pre-wrap; font-size: 14px;" ng-show="showItem{{item.id}}" ng-class="showItem{{item.id}} ? 'animated slideInUp' : ''">
                        
                        {{item.answer}}
                    </ion-item>
                </div>
            </div>
            <div class="clinic-container" ng-show="showcase == 'Badges' || showcase == 'General'" >
                <div ng-click="showItemBadges = !showItemBadges">
                    <ion-item style="text-align: center; color: rgb(43, 172, 143);" class="item-calm wrap-space" ng-class="{active: 'Badges'}">
                        <i class="icon" ng-class="showItemBadges ? 'ion-minus' : 'ion-plus'"></i> &nbsp; <b>Bio-ID</b>
                    </ion-item>
                    <ion-item class="item-accordion" style="white-space: pre-wrap; font-size: 14px;" ng-show="showItemBadges" ng-class="showItemBadges ? 'animated slideInUp' : ''">
                        <div class="list">
                            <div class="item item-avatar item-borderless " style="min-height: 60px!important;">
                              <img class="no-margin" style="max-height: 60px;" src="img/Badges/active-Sperm.svg">
                              <h2 class="no-margin wrap-space">People with this symbol have sperm</h2>
                              <!-- <p>Back off, man. I'm a scientist.</p> -->
                            </div>
                            <div class="item item-avatar item-borderless " style="min-height: 60px!important;">
                              <img class="no-margin" style="max-height: 60px;" src="img/Badges/active-Egg.svg">
                              <h2 class="no-margin wrap-space">People with this symbol have eggs</h2>
                              <!-- <p>Back off, man. I'm a scientist.</p> -->
                            </div>
                            <div class="item item-avatar item-borderless " style="min-height: 60px!important;">
                              <img class="no-margin" style="max-height: 60px;" src="img/Badges/active-Womb.svg" >
                              <h2 class="no-margin wrap-space">People with this symbol have a womb</h2>
                              <!-- <p>Back off, man. I'm a scientist.</p> -->
                            </div>
                            <div class="item item-avatar item-borderless " style="min-height: 60px!important;">
                              <img class="no-margin" style="max-height: 60px;" src="img/Badges/active-Frozen-Embryo.svg" >
                              <h2 class="no-margin wrap-space" >People with this symbol have a frozen embryo</h2>
                              <!-- <p>Back off, man. I'm a scientist.</p> -->
                            </div>
                           
                        </div>
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-modal-view>