<ion-view view-with-bg view-title="Give us Feedback" cache-view="false">
    <ion-content padding="true" id="login-background-image">
        <div style="text-align: center" style="margin-bottom:0px;">
            <h1 class="assertive" style="margin-top:10%;">Send feedback</h1><br/>
        </div>
        <div class="card padding-15 center">
            <div class="assertive">
                <p class="text-size-18">Help us Improve</p>
            </div>
            <div class="energized">
                <p class="text-size-18">{{::'GIVE_US_FEEDBACK' | translate}}</p>
            </div>
            </br>
            <div class="energized">
                <p class="text-size-18">The Just a Baby Team.</p>
            </div>
            <div class="col-33 col-offset-33 center">
                <i class="ion-ios-email-outline  assertive" style="font-size:90px;" />
            </div>

            <textarea ng-model="contact.message" rows="6" class="wide input-grey"></textarea>
            <button class="button button-block button-positive" ng-click="sendMessage()">Send</button>
        </div>
    </ion-content>
</ion-view>