<ion-view view-title="Contact" cache-view="false">
    <ion-content padding="true">
        <div style="text-align: center">

            <h1>Just a Baby</h1><br/>
            <b>A social app for parents to connect.
             <br/>Available for Android and iOS.
            <br/>
            
            </b>
        </div>

        <br/><br/>

        <b>Contact Us</b>
        <textarea ng-model="contact.message" rows="6" class="wide input-grey"></textarea>
        <button class="button button-block button-positive" ng-click="sendMessage()">Send</button>

        <br/>
        

    </ion-content>
</ion-view>
