<ion-view view-title="Contact" cache-view="false">
    <ion-content padding="true">
        <div style="text-align: center">

            <h1>Cloneder</h1><br/>
            <b>
            A clone of Tinder built with Ionic and Parse. <br/>Available for Android and iOS.
            <br/><br/>
            Source code licences available at:<br/>
            <a target="_system" href="http://engineerstoolbox.com/tinder-clone-source-code">http://engineerstoolbox.com</a>
            </b>
        </div>

        <br/><br/>

        <b>Contact Us</b>
        <textarea ng-model="contact.message" rows="6" class="wide input-grey"></textarea>
        <button class="button button-block button-positive" ng-click="sendMessage()">Send</button>

        <br/>
        <div class="row">
            <div class="col">
                <a target="_system" href=""><img src="img/social/facebook.png" class="wide"/></a>
            </div>
            <div class="col">
                <a target="_system" href=""><img src="img/social/google-plus.png" class="wide"/></a>
            </div>
            <div class="col">
                <a target="_system" href=""><img src="img/social/youtube.png" class="wide"/></a>
            </div>
            <div class="col">
                <a target="_system" href=""><img src="img/social/twitter.png" class="wide"/></a>
            </div>
        </div>

    </ion-content>
</ion-view>
