<ion-modal-view>
    <ion-content scroll="false" class="modalCard">
        <ion-slides>
            <ion-slide-page>
                <div class="modal-page-container">
                    <div class="row modal-image-container">
                        <img class="modal-image-avatar" src="img/share.svg" />
                    </div>
                    <div class="modal-text-container">
                        <h3 class="modal-text-header">Share Just a baby!</h3>
                        <h5 class="modal-text-body">Send an invite to your friends to help get people involved.</h5>
                    </div>
                    <h5 class="text-center padding-25 text-colour-assertive" ng-click="closeIntroModal()">Skip Instructions</h5>
                </div>

            </ion-slide-page>
            <ion-slide-page>
                <div class="modal-page-container">
                    <div class="row modal-image-container">
                        <img class="modal-image-avatar" src="img/swipe.svg" />
                    </div>
                    <div class="modal-text-container">
                        <h3 class="modal-text-header">Start Swiping!</h3>
                        <h5 class="modal-text-body">If you like someone, swipe right. If not, swipe left.</h5>
                    </div>
                    <h5 class="text-center padding-25 text-colour-assertive" ng-click="closeIntroModal()">Skip Instructions</h5>
                </div>

            </ion-slide-page>
            <ion-slide-page>
                <div class="modal-page-container">
                    <div class="row modal-image-container">
                        <img class="modal-image-avatar" src="img/match.svg" />
                    </div>
                    <div class="modal-text-container">
                        <h3 class="modal-text-header">It's a match!</h3>
                        <h5 class="modal-text-body">If you both like each other, you have a match! Once you have a match you can start chatting</h5>
                    </div>
                    <h5 class="text-center padding-25 text-colour-assertive" ng-click="closeIntroModal()">Skip Instructions</h5>
                </div>

            </ion-slide-page>
            <ion-slide-page>
                <div class="modal-page-container">
                    <div class="row modal-image-container">
                        <img class="modal-image-avatar" src="img/edit.svg" />
                    </div>
                    <div class="modal-text-container">
                        <h3 class="modal-text-header">Tell people what you're about!</h3>
                        <h5 class="modal-text-body">Go to the Menu to edit your profile and change your location and search settings.</h5>
                    </div>
                    <h5 class="text-center padding-25 text-colour-assertive" ng-click="closeIntroModal()">Skip Instructions</h5>
                </div>
            </ion-slide-page>

            <ion-slide-page>
                <div class="modal-page-container">
                    <div class="row modal-image-container">
                        <img class="modal-image-avatar" src="img/SelfID.svg" />
                    </div>
                    <div class="modal-text-container">
                        <h3 class="modal-text-header">Create your profile!</h3>
                        <h5 class="modal-text-body">Tell people your story so you can find better matches. Answer a few questions and let other people know what you are looking for or how you can help start a family</h5>
                    </div>
                    <h5 class="text-center padding-25 text-colour-assertive" ng-click="closeIntroModal()">Finish Instructions</h5>
                </div>
            </ion-slide-page>


        </ion-slides>


    </ion-content>

</ion-modal-view>