<ion-view view-title="{{'SET_LOCATION' | translate}}" cache-view="false">
    <ion-content>
        <div>
            <ion-toggle ng-model="location.useGPS" ng-change="useGPSchanged()" toggle-class="toggle-assertive">{{'USE_GPS_LOCATION' | translate}}</ion-toggle>
        </div>
        <!--<ul class="items">
            <div class="padding" ng-hide="location.useGPS">
                <button class="button button-block button-assertive" style="margin:0px" ng-click="setLocation()">{{'SAVE' | translate}}</button>
            </div>
        <li>
            <ion-toggle ng-model="location.useGPS" ng-change="useGPSchanged()" toggle-class="toggle-assertive">{{'USE_GPS_LOCATION' | translate}}</ion-toggle>
        </li>


        <li class="item item-toggle">
                {{'USE_GPS_LOCATION' | translate}}
                <label class="toggle">
                    <input type="checkbox" ng-model="location.useGPS" ng-change="useGPSchanged()">
                    <div class="track"><div class="handle"></div></div>
                </label>
            </li>
        </ul>-->

        <div id="map" style="height: 91%;" data-tap-disabled="true"></div>

    </ion-content>
    <!--<ion-footer-bar>
        <button ng-hide="location.useGPS" class="button button-block button-positive" style="margin:0px" ng-click="setLocation()">{{'SAVE' | translate}}</button>
    </ion-footer-bar>-->
</ion-view>