<ion-view view-title="{{matchProfile.name}}">
    <ion-nav-buttons side="right">
        <!-- TODO menu that contain 'Report' menu item )-->
        <!-- Temporarily remove matching options -->
        <!--<i class="button button-icon icon ion-android-more-vertical" ng-click="profileOptions()"></i>-->
        <!--<i class="button button-icon icon ion-android-share-alt" ng-click="share()"></i>-->
    </ion-nav-buttons>

    <ion-content>
        <profile-details profile="matchProfile" />
    </ion-content>
</ion-view>