<ion-modal-view>

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <i class="button button-icon icon ion-android-arrow-back" ng-click="vm.close()"></i>
        </div>
        <h1 class="title">{{vm.profile.name}}</h1>
        <div class="buttons">

            <!--<i class="button button-icon icon ion-close" ng-click="vm.pass()"></i>
            <i class="button button-icon icon ion-checkmark" ng-click="vm.like()"></i>-->

        </div>
    </ion-header-bar>

    <ion-content>
        <ion-slide-box show-pager="true">
            <ion-slide ng-repeat="photo in vm.profile.photos track by $index">
                <img ng-src="{{photo.url()}}" style="width:100%" />
            </ion-slide>
            <ion-slide ng-if="!vm.profile.photos.length">
                <img src="img/generic_avatar.jpg" style="width:100%" />
            </ion-slide>
        </ion-slide-box>

        <div ng-hide="isCurrentUser" class="material-share-button-container">
            <i class="button button-icon icon ion-android-share-alt floating-share-button" ng-click="vm.share()"></i>
        </div>

        <div class="ion-row profile-name-banner">
            <div class="col-80">
                <div class="text-size-24">
                    {{vm.profile.name}}, {{vm.profile.age}}
                </div>

                <div class="flag-distance row" ng-init="showCountryName">{{vm.profile.location | distance}} {{'AWAY' | translate}}
                    <img class="flag" ng-show="profile.address" ng-click="showCountryName = true" ng-src="img/flags/{{profile.country}}.png">
                    <div ng-show="showCountryName" ng-class="showCountryName ? 'animated fadeInDown' : '' " class="country-popup">
                        {{vm.profile.country}}
                    </div>
                </div>
            </div>

        </div>

        <div class="padding-15">
            <div class="row">
                <h4 style="color:#666666" class="col-80">About Me</h4>
            </div>

            <div ng-show="vm.profile.about" style="color:#9B9B9B; white-space: pre-wrap;" class="text-size-18">
                {{vm.profile.about}}
            </div>

            <div class="badge-row badge-row-profile" ng-click="vm.onClickBadgeInfo()">
                <img ng-class="profile.personSperm ? 'id-badge' : 'id-no-badge'" src="img/sperm_ic.svg">
                <img ng-class="profile.personWomb ? 'id-badge' : 'id-no-badge'" src="img/womb_ic.svg">
                <img ng-class="profile.personEgg ? 'id-badge' : 'id-no-badge'" src="img/egg_ic.svg">
                <img ng-class="profile.personEmbryo ? 'id-badge' : 'id-no-badge'" src="img/embryo_ic.svg">
            </div>

            <p class="spacer-70"></p>
        </div>

    </ion-content>

    <div class="material-cross-button-container">
        <i class="button button-icon icon ion-close search-profile-view-icon floating-tick-cross-button" ng-click="vm.reject()"></i>
    </div>

    <div class="material-tick-button-container">
        <i class="button button-icon icon ion-checkmark floating-tick-cross-button" ng-click="vm.like()"></i>
    </div>
</ion-modal-view>