<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <i class="button button-icon icon ion-chevron-down" style="color:#fff;font-size: 12px!important;" ng-click="hideSearchFilters()"></i>
           
            
        </div>
        <!-- <h1 class="title">Back</h1> -->
 
        </div>
    </ion-header-bar>
    <ion-content >
        <div class="card">
            <div class="settings-header">
                Search Filters
            </div>

            <div class="settings-dropdown">

                <div class="row filter-row">
                    <div class="col">
                        <div class="center">
                            <h4>Show...</h3>
                        </div>
                    </div>
                </div>

                <ion-checkbox style="border-color: white; margin-left: 5%; margin-right: 5%; padding: 10px;" class="item-checkbox-right item-text-wrap"
                    ng-model="profile.LFIndividual" toggle-class="toggle-assertive" ng-change="changeIndividual()">

                    <!--<div class="self-id-badge-checkbox">
                        <img src="img/Badges/active-Individual.svg">
                    </div>-->

                    <span ng-class="profile.LFIndividual ? 'toggle-text-active' : 'toggle-text-deactivated'">
                        Singles
                    </span>
                </ion-checkbox>

                <ion-checkbox style="border-color: white; margin-left: 5%; margin-right: 5%; padding: 10px;" class="item-checkbox-right item-text-wrap"
                    ng-model="profile.LFCouple" toggle-class="toggle-assertive" ng-change="changeCouple()">

                    <!--<div class="self-id-badge-checkbox">
                        <img src="img/Badges/active-Couple.svg">
                    </div>-->

                    <span ng-class="profile.LFCouple ? 'toggle-text-active' : 'toggle-text-deactivated'">
                        People with partners
                    </span>
                </ion-checkbox>

                <br/>

                <ion-checkbox style="border-color: white; margin-left: 5%; margin-right: 5%; padding: 10px;" class="item-checkbox-right item-text-wrap"
                    ng-model="profile.LFHelp" toggle-class="toggle-assertive" ng-change="changeHelp()">

                    <!--<div class="self-id-badge-checkbox">
                        <img src="img/Badges/active-Help.svg">
                    </div>-->

                    <span ng-class="profile.LFHelp ? 'toggle-text-active' : 'toggle-text-deactivated'">
                        Angles/Helpers
                    </span>
                </ion-checkbox>



                <ion-checkbox style="border-color: white; margin-left: 5%; margin-right: 5%; padding: 10px;" class="item-checkbox-right item-text-wrap"
                    ng-model="profile.LFParent" toggle-class="toggle-assertive" ng-change="changeParent()">

                    <!--<div class="self-id-badge-checkbox">
                        <img src="img/Badges/active-Looking-For-Help.svg">
                    </div>-->

                    <span ng-class="profile.LFParent ? 'toggle-text-active' : 'toggle-text-deactivated'">
                        Hopeful Parents & Co-parents
                    </span>
                </ion-checkbox>

                <div class="row filter-row">
                    <div class="col">
                        <div class="center">
                            <h4>Show me people with...</h4>
                        </div>
                    </div>
                </div>

                <div class="row filter-row">
                    <div class="col">
                        <div class="center">
                            <img class="img-avatar" ng-src="{{spermImage}}" ng-model="iiprofile.LFSperm" ng-click="activateSperm()">
                            <p ng-class="iprofile.LFSperm ? 'id-text-active' :  'id-text-inactive' ">Sperm</p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="center">
                            <img class="img-avatar" ng-src="{{eggImage}}" ng-model="iprofile.LFEggs" ng-click="activateEgg()">
                            <p ng-class="iprofile.LFEggs ? 'id-text-active' :  'id-text-inactive' ">Eggs</p>
                        </div>
                    </div>
                </div>

                <div class="row filter-row">
                    <div class="col">
                        <div class="center">
                            <img class="img-avatar" ng-src="{{wombImage}}" ng-model="iprofile.LFWomb" ng-click="activateWomb()">
                            <p ng-class="iprofile.LFWomb ? 'id-text-active' :  'id-text-inactive' ">Womb</p>
                        </div>
                    </div>

                    <div class="col">
                        <div class="center">
                            <img class="img-avatar" ng-src="{{embryoImage}}" ng-model="iprofile.LFEmbryo" ng-click="activateEmbryo()">
                            <p ng-class="iprofile.LFEmbryo ? 'id-text-active-embryo' :  'id-text-inactive' ">Embryo</p>
                        </div>
                    </div>
                </div>

                <div class="row filter-row">
                    <div class="col">
                         <ul class="list">


                            <li class="item item-divider" style="background-color: #fff;">
                                {{'SEARCH_DISTANCE' | translate}}: {{iprofile.distance}}{{iprofile.distanceType}}
                            </li>

                            <li class="item custom-slider" style="height: 60px" ng-class="showMI ? '' : 'hidden'">
                                <slider floor="1" ceiling="12427" ng-model-low="1" ng-model-high="iprofile.distance"></slider>
                            </li>

                            <li class="item custom-slider" style="height: 60px" ng-class="showKM ? '' : 'hidden'">
                                <slider floor="1" ceiling="20000" ng-model-low="1" ng-model-high="iprofile.distance"></slider>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Regions filters -->
                <div class="row filter-row">
                    <div class="col">
                         <ul class="list">
                             <li class="item item-divider" style="background-color: #fff;">
                                 Regions
                             </li>
                             <li class="item continents-container">
                                <div class="badge-continent" 
                                     ng-repeat="continent in continents | orderBy:'active':true track by $index"
                                     ng-class="{'active':continent.active}"
                                     ng-click="continent.active=!continent.active"
                                />
                                     {{continent.name}} 
                                     <i class="icon"
                                     ng-class="{'ion-checkmark-round':continent.active, 'ion-plus-round':!continent.active}"></i>
                                </div>
                             </li>
                         </ul>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>