<ion-view cache-view="false">
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{'UPDATE_REQUIRED' | translate}}</h1>
    </ion-header-bar>
    <ion-content padding="true">
        <div style="text-align: center">
            <p>
                {{'UPDATE_REQUIRED_INFO' | translate}}
            </p>
        </div>

        <div class="row">
            <div class="col">
                <a target="_system" ng-href="{{storeUrl}}"><button class="button button-block button-positive">{{'UPDATE' | translate}}</button></a>
            </div>
        </div>

    </ion-content>
</ion-view>