
/* Main Theme */
$positive: rgba(187, 225, 213, 0.69);

/*strong green */
$energized: rgb(43, 172, 143);

// $calm: rgba(187, 225, 213, 0.35);
$calm: rgb(231, 245, 240);

/*purple*/
$assertive: rgb(191, 127, 204);