
/* Main Theme */
$positive: rgba(187, 225, 213, 0.69);

/*strong green */
$energized: rgb(43, 172, 143);

// $calm: rgba(187, 225, 213, 0.35);
$calm: rgb(231, 245, 240);

/*purple*/
$assertive: rgb(191, 127, 204);

//***************************** Profile Search
$match-search-text: rgb(130, 156, 148);
$text-colour-white: #ffffff;
//***************************** Chat
$chat-bubble-right-background: rgba(187, 225, 213, 0.35);
$chat-bubble-right-text: rgb(43, 172, 143);
$chat-bubble-left-background: rgba(250, 248, 218, 0.71);
$chat-bubble-left-text: rgb(165, 161, 121);
$chat-date-recieved:rgb(155, 155, 155);
//***************************** Chat List
$chats-odd: rgba(155, 155, 155, 0.10);
$chats-even: rgba(155, 155, 155, 0.15);