
@import './colors.scss';
/* --- Edit-Profile --- */

.profileImage {
    border: 5px solid white;
}

.profileImageSelected {
    border: 5px solid dodgerblue;
}

.input-grey {
    background-color: #F5F5F5;
}

.about-you-header {
    color: $energized;
    font-size: 18px;
}

.about-you-info {
    color: #6c6c6c;
    font-size: 18px;
    font-style: italic;
}

// .item-radio input:checked+.radio-content .item-content {
//     background: $calm
// }

// Self Id current Badges. 
.badge-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 70px;
}
.badge-visible{
    // animation: slideInUp 500ms ease;
    display: block !important;
    width: 60px;    
    height: 60px;
    transition: all ease 300ms;
}
.badge-hidden{
    position: absolute;
    height: 0;
    width: 0;
    transition: all ease 300ms;
    
}


// Self Identification Cards
.filter-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 250px;
}
.filter-radio{
    display: block;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid $positive;
    border-radius: 45px;
}
.filter-container{
    height: 300px;
}

/* --- Custom Radio button --- */
// Kill the regular checkbox 
div input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.radio-label{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 12px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
div div .check{
    margin-top: 3px;
    background-color: #fff;
    border: 5px solid $assertive;
    border-radius: 100%;
    height: 35px;
    width: 35px;
	z-index: 5;
	transition: background .15s linear;
	-webkit-transition: background .15s linear;
}
input[type=radio]:checked ~ div .check {
    background-color: $assertive;
}


input[type=radio]:checked ~ label{
    color: $assertive;
}

/* --- Toggles --- */

.toggle-text-active{
    text-align: center;
    font-size: 14px !important;
    color: $energized;
    
}
.toggle-text-inactive{
    text-align: center;
    font-size: 14px !important;
    color: $assertive;
}

/* --- nav button ---*/
.nav-button-row-filter-card {
    display: flex;
    flex-direction: row;
}
.nav-button-container-left {
   flex-grow: 1; 
   text-align: right; 
   margin: 5px; 
}
.nav-button-container-right {
   flex-grow: 1; 
   text-align: left; 
   margin: 5px; 
}
.nav-button-container-center {
   flex-grow: 1; 
   text-align: center; 
   margin: 5px; 
}