/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/(css)
//$ionicons-font-path: "../lib/ionic/fonts" !default;
$ionicons-font-path: "fonts" !default;
//***************************** Ionic Color Override
$positive: rgba(187, 225, 213, 0.69);

/* Main Theme */

$energized: rgb(43, 172, 143);

/*strong green */

// $calm: rgba(187, 225, 213, 0.35);
$calm: rgb(231, 245, 240);

/* soft Green */

$assertive: rgb(191, 127, 204);

/*purple*/

//***************************** Profile Search
$match-search-text: rgb(130, 156, 148);
$text-colour-white: #ffffff;
//***************************** Chat
$chat-bubble-right-background: rgba(187, 225, 213, 0.35);
$chat-bubble-right-text: rgb(43, 172, 143);
$chat-bubble-left-background: rgba(250, 248, 218, 0.71);
$chat-bubble-left-text: rgb(165, 161, 121);
$chat-date-recieved:rgb(155, 155, 155);
//***************************** Chat List
$chats-odd: rgba(155, 155, 155, 0.10);
$chats-even: rgba(155, 155, 155, 0.15);

// Include all of Ionic
@import "bower_components/ionic/scss/ionic";
button.button,
button.button.button-stable {
    background-color: rgb(221, 221, 221);
}

/* --- Login --- */

@import 'login.scss';

/* --- Settings --- */

@import 'settings.scss';

/* --- Match Search --- */

@import 'matchSearch.scss';

/* --- Profile edit --- */

@import 'editProfile.scss';

// Self Id current Badges - Used in edit profile and match search
.badge-row{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    height: 70px;
}
.badge-visible{
    // animation: slideInUp 500ms ease;
    display: block !important;
    width: 60px;    
    height: 60px;
    transition: all ease 300ms;
}
.badge-hidden{
    position: absolute;
    height: 0;
    width: 0;
    transition: all ease 300ms;   
}
.badge{
    display: block !important;
    width: 50px;    
    height: 50px;
}

/* --- Walkthrough Modal --- */

@import 'walkthroughModal.scss';

/* --- Global Selectors --- */

.text-colour-energized {
    color: $energized;
}

.text-colour-assertive {
    color: $assertive;
}

.background-calm {
    background-color: $calm;
}

.background-positive {
    background-color: $positive !important;
}

.text-color-white {
    color: $text-colour-white;
}

.popup-button {
    background-color: $positive !important;
    color: #fff;
    border-radius: 16px !important;
}

/* --- Text and Font --- */

.bold {
    font-weight: bold;
}

textarea {
    padding: 3px;
}

.text-size-18 {
    font-size: 18px;
}

.text-size-24 {
    font-size: 24px;
}

.text-size-28 {
    font-size: 28px;
}




/* --- Chat --- */

.chat-unread {
    font-weight: bold;
}


/* allows the bar-footer to be elastic /*
/* optionally set a max-height */


/* maxlength on the textarea will prevent /*
/* it from getting too large also */

.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}

.item-input-wrapper {
    background-color: white !important;
}

.chat-bubble.right {
    background-color: $chat-bubble-right-background;
    color: $chat-bubble-right-text;
    float: right;
    margin-right: 55px;
}

.chat-bubble.left {
    background-color: $chat-bubble-left-background;
    color: $chat-bubble-left-text;
    float: left;
    margin-left: 55px;
}

.chat-date-recieved {
    font-size: 12px;
    color: $chat-date-recieved;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

.chat-bubble.failed {
    color: darkred;
}


/* --- Chat List & Liked me --- */

.item-avatar>img:first-child {
    width: 100% !important;
    height: 100% !important;
    max-width: 60px !important;
    max-height: 60px !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.custom-list-item {
    padding: 0px 0px 10px 30px !important;
    min-height: 62px;
    border-radius: 8px;
}

.custom-list-item-text {
    padding: 10px 0px 0px 50px;
    color: $energized;
}

.custom-list-item-subtext {
    padding: 0px 5px 5px 50px;
    color: $energized;
}

.chats-list-odd {
    background: $chats-odd;
    height: 61px;
}

.chats-list-even {
    background: $chats-even;
    height: 61px;
    box-shadow: 0px 0px 3px 0px rgba(155, 155, 155, 0.65);
}

/* --- Action Sheets - Android --- */

.platform-android .action-sheet-group {
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    color: $assertive !important;
    text-align: center !important;
}

.platform-android .action-sheet .button.destructive {
    text-align: center !important;
    color: red !important;
}

.platform-android .action-sheet .action-sheet-title {
    padding: 16px;
    color: #666;
    text-align: center !important;
}

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}


/* --- My Relationships --- */

.item.active {
    background-color: $positive !important;
}


/*Try for a baby pop-up*/

.popup-vertical-buttons .popup-buttons {
    display: block;
    font-size: 14px !important;
}

.popup-vertical-buttons .popup-buttons .button {
    display: block;
    min-width: 100% !important;
    margin-bottom: 5px !important;
    border-radius: 16px !important;
    font-size: 14px !important;
    color: $energized !important;
}


