/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/(css)
//$ionicons-font-path: "../lib/ionic/fonts" !default;
$ionicons-font-path: "fonts" !default;
//***************************** Ionic Color Override
$positive: rgba(187, 225, 213, 0.69);

/* Main Theme */

$energized: rgb(43, 172, 143);

/*strong green */

// $calm: rgba(187, 225, 213, 0.35);
$calm: rgb(231, 245, 240);

/* soft Green */

$assertive: rgb(191, 127, 204);

/*purple*/

//***************************** Profile Search
$match-search-text: rgb(130, 156, 148);
$text-colour-white: #ffffff;
//***************************** Chat
$chat-bubble-right-background: rgba(187, 225, 213, 0.35);
$chat-bubble-right-text: rgb(43, 172, 143);
$chat-bubble-left-background: rgba(250, 248, 218, 0.71);
$chat-bubble-left-text: rgb(165, 161, 121);
$chat-date-recieved:rgb(155, 155, 155);
//***************************** Chat List
$chats-odd: rgba(155, 155, 155, 0.10);
$chats-even: rgba(155, 155, 155, 0.15);
// Include all of Ionic
@import "bower_components/ionic/scss/ionic";
button.button,
button.button.button-stable {
    background-color: rgb(221, 221, 221);
}


/* --- Profile edit --- */

.profileImage {
    border: 5px solid white;
}

.profileImageSelected {
    border: 5px solid dodgerblue;
}

.input-grey {
    background-color: #F5F5F5;
}

.about-you-header {
    color: $energized;
    font-size: 18px;
}

.about-you-info {
    color: #6c6c6c;
    font-size: 18px;
    font-style: italic;
}

.item-radio input:checked+.radio-content .item-content {
    background: $calm
}


/* --- Global Selectors --- */

.text-colour-energized {
    color: $energized;
}

.text-colour-assertive {
    color: $assertive;
}

.background-calm {
    background-color: $calm;
}

.background-positive {
    background-color: $positive !important;
}

.text-color-white {
    color: $text-colour-white;
}

.popup-button {
    background-color: $positive !important;
    color: #fff;
    border-radius: 16px !important;
}


/* --- Login --- */

#login-background-image {
    background-image: url("img/kids-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.button.button-outline.button-light {
    border-width: 2px;
    padding: 0px;
    margin-top: 45%;
    border-color: #fff;
}

.social-facebook {
    background-color: rgb(92, 119, 180);
    color: white;
}

.social-linkedin {
    background-color: rgb(0, 119, 181);
    color: white;
}


/* --- Chat --- */

.chat-unread {
    font-weight: bold;
}


/* allows the bar-footer to be elastic /*
/* optionally set a max-height */


/* maxlength on the textarea will prevent /*
/* it from getting too large also */

.bar-footer {
    overflow: visible !important;
}

.bar-footer textarea {
    resize: none;
    height: 25px;
}

.item-input-wrapper {
    background-color: white !important;
}

.chat-bubble.right {
    background-color: $chat-bubble-right-background;
    color: $chat-bubble-right-text;
    float: right;
    margin-right: 55px;
}

.chat-bubble.left {
    background-color: $chat-bubble-left-background;
    color: $chat-bubble-left-text;
    float: left;
    margin-left: 55px;
}

.chat-date-recieved {
    font-size: 12px;
    color: $chat-date-recieved;
}

.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}

a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

.chat-bubble.failed {
    color: darkred;
}


/* --- Chat List & Liked me --- */

.item-avatar>img:first-child {
    width: 100% !important;
    height: 100% !important;
    max-width: 60px !important;
    max-height: 60px !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.custom-list-item {
    padding: 0px 0px 10px 30px !important;
    min-height: 62px;
    border-radius: 8px;
}

.custom-list-item-text {
    padding: 10px 0px 0px 50px;
    color: $energized;
}

.custom-list-item-subtext {
    padding: 0px 5px 5px 50px;
    color: $energized;
}

.chats-list-odd {
    background: $chats-odd;
    height: 61px;
}

.chats-list-even {
    background: $chats-even;
    height: 61px;
    box-shadow: 0px 0px 3px 0px rgba(155, 155, 155, 0.65);
}


/* --- Match Search --- */

.profile-search-avatar {
    width: 50%;
    height: 50%;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
}

#match-search-background {
    background-color: $calm !important;
}

#match-search-distance {
    padding-top: 5px;
    margin-bottom: 0;
    text-align: center;
    color: $match-search-text !important;
    font-size: 16px;
}

#match-search-name {
    padding-top: 10px;
    text-align: center;
    color: $match-search-text !important;
    font-size: 24px;
}

#match-search-about-container {
    height: 150px;
    display: flex;
    flex-direction: column;
}

#match-search-about {
    flex: 3;
    padding: 5px 10px;
    color: $match-search-text !important;
    font-size: 16px;
    height: 80%;
    overflow: hidden;
}

#match-search-readmore {
    text-align: center;
    flex: 1;
    font-size: 16px;
    color: $assertive;
    padding-top: 10px;
    margin-bottom: 0;
}

.td-card {
    background: white;
    border-radius: 8px;
    height: 80%;
}

.yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0;
}

.no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
}

.swipe-reject:before,
.swipe-reject {
    color: white;
}

.swipe-accept:before,
.swipe-accept {
    color: white;
}


/* --- Action Sheets - Android --- */

.platform-android .action-sheet-group {
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    color: $assertive !important;
    text-align: center !important;
}

.platform-android .action-sheet .button.destructive {
    text-align: center !important;
    color: red !important;
}

.platform-android .action-sheet .action-sheet-title {
    padding: 16px;
    color: #666;
    text-align: center !important;
}

.platform-android .action-sheet-backdrop.active {
    background-color: rgba(0, 0, 0, 0.1);
}


/* --- My Relationships --- */

.item.active {
    background-color: $positive !important;
}


/*Try for a baby pop-up*/

.popup-vertical-buttons .popup-buttons {
    display: block;
    font-size: 14px !important;
}

.popup-vertical-buttons .popup-buttons .button {
    display: block;
    min-width: 100% !important;
    margin-bottom: 5px !important;
    border-radius: 16px !important;
    font-size: 14px !important;
    color: $energized !important;
}


/* --- Edit-Profile --- */

.filter-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    height: 250px;
}
.filter-radio{
    display: block;
    // margin-left: auto;
    // margin-right: auto;
    // width: 90%;
    // height: auto;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid $positive;
    border-radius: 45px;
}

.filter-container{
    height: 300px;
}

/* --- Custom Radio button --- */

// Kill the regular checkbox 
div input[type=radio]{
    position: absolute;
    visibility: hidden;
}

.radio-label{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    // line-height: 40px;
    margin-right: 5px;
    // position: relative;
    font-size: 12px;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
}
div div .check{
    margin-top: 3px;
    background-color: #fff;
    border: 5px solid $assertive;
    border-radius: 100%;
    height: 35px;
    width: 35px;
	z-index: 5;
	transition: background .15s linear;
	-webkit-transition: background .15s linear;
}
input[type=radio]:checked ~ div .check {
    background-color: $assertive;
}


input[type=radio]:checked ~ label{
    color: $assertive;
}

/* --- Toggles --- */
.filter-card {
    margin: 10px;
    padding: 10px;
    border: 2px solid $positive;
    border-radius: 45px;
    
}
.toggle-text-active{
    color: $assertive;
}
.toggle-text-inactive{
    color: #d1d1d1;
}

/* --- nav button ---*/
.nav-button-row-filter-card {
    display: flex;
    flex-direction: row;
}
.nav-button-container-left {
   flex-grow: 1; 
   text-align: right; 
   margin: 5px; 
}
.nav-button-container-right {
   flex-grow: 1; 
   text-align: left; 
   margin: 5px; 
}
.nav-button-container-center {
   flex-grow: 1; 
   text-align: center; 
   margin: 5px; 
}


// Walkthrough Modal
.modalCard{ 
    background-color: white; 
    padding: 25; 
 
} 
.modal-page-container{ 
    display: flex; 
    flex-direction: column; 
    height: 100%; 
    padding: 50px;
} 
.modal-image-container{ 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex: 2 
} 
.modal-text-container{ 
    display: flex;
    justify-content: center; 
    flex-direction: column;
    flex:1.5; 
     
     
} 
.modal-text-header{ 
    text-align: center;
    color: $assertive; 
    font-size: 22px; 
} 
.modal-text-body{ 
    text-align: center;
    color: $energized;
    font-size: 18px; 
} 
.modal-image-avatar{ 
    width: 100% !important;
    height: 100% !important;  
    border-radius:360px;  
    margin-left: auto;  
    margin-right: auto;
    box-shadow: 0 0 10px #d1d1d1;
}