/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/(css)
//$ionicons-font-path: "../lib/ionic/fonts" !default;

$ionicons-font-path: "fonts" !default;
//**************************************************************************************** Ionic Color Override
$positive: rgba(187, 225, 213, 0.69); /* Main Theme */ 
$energized: rgb(43, 172, 143); /*strong green */
$calm: rgba(187, 225, 213, 0.35); /* soft Green */
$assertive: rgb(191, 127, 204); /*purple*/
//*********************************************************** Other Colors

//***************************** Profile Search
$match-search-text: rgb(130, 156, 148);
$text-colour-white: #ffffff;

//***************************** Chat
$chat-bubble-right-background: rgba(187, 225, 213, 0.35);
$chat-bubble-right-text: rgb(43, 172, 143);

$chat-bubble-left-background: rgba(250, 248, 218, 0.71);
$chat-bubble-left-text:  rgb(165, 161, 121);

$chat-date-recieved:rgb(155,155,155);

//***************************** Chat List
$chats-odd: rgba(155, 155, 155, 0.10); 
$chats-even: rgba(155, 155, 155, 0.15);

// Include all of Ionic
@import "bower_components/ionic/scss/ionic";

//*********************************************************** Yet to sort


// This is the input color in 'Edit Page' 
.input-grey { 
    background-color: #F5F5F5; 
    }

button.button, button.button.button-stable{
    background-color: rgb(221, 221, 221);
    }

//*********************************************************** Profile edit 
.profileImage {
    border: 5px solid white;
    }
.profileImageSelected {
    border: 5px solid dodgerblue;
    }

//*********************************************************** Global Selectors

.text-colour-energized{
    color: $energized;
}
.background-calm{
    background-color: $calm;
}
.background-positive{
    background-color: $positive;
}
.text-color-white{
    color: $text-colour-white;
}
.text-size-18{
    font-size: 18px;
}
.text-size-24{
    font-size: 24px;
}
.text-size-28{
    font-size: 28px;
}

//*********************************************************** Login
#login-background-image {
    background-image: url("img/kids-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    
    }
.button.button-outline.button-light{
    border-width: 2px;
    padding: 0px;
    margin-top: 45%;
    border-color: #fff;
    }
.social-facebook {
    background-color: rgb(92,119,180);
    color: white;
    }
.social-linkedin {
    background-color: rgb(0,119,181);
    color: white;
    }

//*********************************************************** Chat

.item-input-wrapper {
    background-color: white !important;
    }

.chat-bubble.right {
    background-color: $chat-bubble-right-background;
    color: $chat-bubble-right-text;
    float: right;
    margin-right: 55px;
    }
.chat-bubble.left{
    background-color: $chat-bubble-left-background;
    color: $chat-bubble-left-text;
    float: left;
    margin-left: 55px;
    }
.chat-date-recieved{
    font-size: 12px; 
    color: $chat-date-recieved; 
    }


.chat-bubble.left:before {
    background-color: #e6e5eb;
    left: 10px;
    -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right:before {
    background-color: #158ffe;
    right: 10px;
    -webkit-transform: rotate(118deg) skew(-5deg);
}

.chat-bubble.right a.autolinker {
    color: #fff;
    font-weight: bold;
}
a.autolinker {
    color: #3b88c3;
    text-decoration: none;
}

.chat-bubble.failed {
    color: darkred;
}

//***********************************************************Chat List & Liked me 

//Thomas TODO - 
//      Create a css filter to adjust the greyscale(70% maybe?), not to full black and white, so the unread message seems brighter.
//      It could also put the answered texts to black and white and the unanswered texts to colour?


.list-color-filter{

}
.item-avatar>img:first-child {
    width: 100% !important;
    height: 100% !important;
    max-width: 60px !important;
    max-height: 60px !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}
.custom-list-item{
    padding:0px 0px 10px 30px !important;
    min-height:62px;
    border-radius: 8px;
}
.custom-list-item-text{
    padding: 10px 0px 0px 50px;
    color: $energized;
}
.custom-list-item-subtext{
    padding: 0px 5px 5px 50px;
    color: $energized;
}
.chats-list-odd{
    background: $chats-odd;
    height:61px;
    
}
.chats-list-even{
    background: $chats-even;
    height:61px; 
    box-shadow: 0px 0px 3px 0px rgba(155, 155, 155, 0.65); 
}
//*********************************************************** Match Search
#match-search-background{
    background-color: $calm !important;
}

#match-search-text{
    margin-top: 10%;
    padding-bottom: 25px;
    color: $match-search-text !important;
    font-size: 19px;
}

.td-card {
    background: white;
    border-radius: 8px;

}

.yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0;
}
.no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
}
.swipe-reject:before, .swipe-reject {
    color: white;
}
.swipe-accept:before, .swipe-accept {
    color: white;
}

//*********************************************************** Action Sheets - Android

.platform-android .action-sheet-group {
    border-radius: 0;
    background-color: #fafafa;
}
.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}
.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #104e89;
}

.platform-android .action-sheet .button.destructive {
    color: red;
}
.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}
.platform-android .action-sheet-backdrop.active {
        background-color: rgba(0, 0, 0, 0.1);
}