@import 'colors.scss';

/* --- Chat List & Liked me --- */

.item-avatar>img:first-child {
    width: 100% !important;
    height: 100% !important;
    max-width: 60px !important;
    max-height: 60px !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
}

.custom-list-item {
    padding: 0px 0px 10px 30px !important;
    min-height: 62px;
    border-radius: 8px;
}

.custom-list-item-text {
    padding: 10px 0px 0px 50px;
    color: $energized;
}

.custom-list-item-subtext {
    padding: 0px 5px 5px 50px;
    color: $energized;
}

.chats-list-odd {
    background: $chats-odd;
    height: 61px;
}

.chats-list-even {
    background: $chats-even;
    height: 61px;
    box-shadow: 0px 0px 3px 0px rgba(155, 155, 155, 0.65);
}

.chat-inital-message {
    color: $chat-date-recieved;
    font-size: 18px;
    margin: auto;
}

.inital-chat-message-box {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}