@import 'colors.scss';

/* --- Match Search --- */

.profile-search-avatar {
    width: 50%;
    height: 50%;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
}

#match-search-background {
    background-color: $calm !important;
}

#match-search-distance {
    padding-top: 5px;
    margin-bottom: 0;
    text-align: center;
    color: $match-search-text !important;
    font-size: 16px;
}

#match-search-name {
    padding-top: 10px;
    text-align: center;
    color: $match-search-text !important;
    font-size: 24px;
}

#match-search-about-container {
    height: 38%;
    display: flex;
    flex-direction: column;
}

#match-search-about {
    flex: 5;
    padding: 5px 10px;
    color: $match-search-text !important;
    font-size: 16px;
    max-height: 68px;
    overflow: hidden;
    position: relative;

}

.fade-box {
    width: 100%;
    z-index: 1000;
    position: absolute; 
    height: 30px;
    bottom: 0; 
    left: 0;
    width: 100%; 
    max-height: 68px;
    background-image: linear-gradient(to bottom, transparent, white);
    background-image: linear-gradient(to bottom, transparent, white);
    background-image: -moz-linear-gradient(to bottom, transparent, white); /* FF3.6+ */
    background-image: -webkit-gradient(to bottom, transparent, white); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(to bottom, transparent, white); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(to bottom, transparent, white); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(to bottom, transparent, white); /* IE10+ */
    background: linear-gradient(to bottom, transparent, white); /* W3C */
    background: -moz-linear-gradient(to bottom, transparent, white); /* FF3.6+ */
    background: -webkit-gradient(to bottom, transparent, white); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(to bottom, transparent, white); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(to bottom, transparent, white); /* Opera 11.10+ */
    background: -ms-linear-gradient(to bottom, transparent, white); /* IE10+ */
    background: linear-gradient(to bottom, transparent, white); /* W3C */
}


//Badges
.badge-row-search {
    flex: 3;
    // height: 33%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    // height: 65px;
}

#match-search-readmore {
    text-align: center;
    flex: 3;
    font-size: 16px;
    color: $assertive;
    margin-bottom: 0;
}

.td-card {
    background: white;
    border-radius: 8px;
    height: 80%;
    box-shadow: 0 1px 1px rgba(155,155,155,0.1);
}

.yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0;
}

.no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
}

.swipe-reject:before,
.swipe-reject {
    color: white;
}

.swipe-accept:before,
.swipe-accept {
    color: white;
}

.share-profile-icon:before,
.share-profile-icon {
    color: white;
    font-size:50px !important;
    display:block !important;
}

.unread-messages {
    animation: wobble;
    animation-iteration-count: infinite;
}


/* Info cards */
    td-card.info_card {
        -webkit-perspective: 1800px;
        -moz-perspective: 1800px;
        -o-perspective: 1800px;
        perspective: 1800px;

        .td-card {
             -webkit-transition: -webkit-transform 1s;
             -moz-transition: -moz-transform 1s;
             -o-transition: -o-transform 1s;
             transition: transform 1s;
             -webkit-transform-style: preserve-3d;
             -moz-transform-style: preserve-3d;
             -o-transform-style: preserve-3d;
             transform-style: preserve-3d;
             -webkit-transform-origin: left center;
             -moz-transform-origin: left center;
             -o-transform-origin: left center;
             transform-origin: left center;

             figure {
                position: absolute;
                backface-visibility: hidden;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width:100%;
                
                &.back {
                    -webkit-transform: rotateY( -180deg );
                    -moz-transform: rotateY( -180deg );
                    -o-transform: rotateY( -180deg );
                    transform: rotateY( -180deg );
                    z-index: 800;
                    width:100%;
                }
            }
        }

        &.flip {
            .td-card {
                -webkit-transform: translateX( 100% ) rotateY( -180deg );
                -moz-transform: translateX( 100% ) rotateY( -180deg );
                -o-transform: translateX( 100% ) rotateY( -180deg );
                transform: translateX( 100% ) rotateY( -180deg );
            }
        }
    }                    
  
  
                        div.box {
                                top: 0px;
                                background: transparent;
                            
                            div.ribbon {
                                position: absolute;
                                left: 0px;
                                top: 0px;
                                z-index: 1;
                                overflow: hidden;
                                width: 105px;
                                height: 105px;
                                text-align: right;

                                span {
                                    font-size: 10px;
                                    font-weight: bold;
                                    color: #FFF;
                                    text-transform: uppercase;
                                    text-align: center;
                                    line-height: 24px;
                                    transform: rotate(-45deg);
                                    -webkit-transform: rotate(-45deg);
                                    width: 153px;
                                    display: block;
                                    background: rgba(191, 127, 204, 0.68);
                                    box-shadow: none;
                                    position: absolute;
                                    top: 30px;
                                    left: -33px;
                                }
                            }
                        }