@import 'colors.scss';

/* --- Match Search --- */

.profile-search-avatar {
    width: 50%;
    height: 50%;
    border-radius: 360px;
    margin-left: auto;
    margin-right: auto;
}

#match-search-background {
    background-color: $calm !important;
}

#match-search-distance {
    padding-top: 5px;
    margin-bottom: 0;
    text-align: center;
    color: $match-search-text !important;
    font-size: 16px;
}

#match-search-name {
    padding-top: 10px;
    text-align: center;
    color: $match-search-text !important;
    font-size: 24px;
}

#match-search-about-container {
    height: 38%;
    display: flex;
    flex-direction: column;
}

#match-search-about {
    flex: 5;
    padding: 5px 10px;
    color: $match-search-text !important;
    font-size: 16px;
    // height: 60%;
    overflow: hidden;
}

//Badges
.badge-row-search {
    flex: 3;
    // height: 33%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    // height: 65px;
}

#match-search-readmore {
    text-align: center;
    flex: 3;
    font-size: 16px;
    color: $assertive;
    padding: 10px;
    margin-bottom: 0;
}

.td-card {
    background: white;
    border-radius: 8px;
    height: 80%;
}

.yes-text {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    color: rgb(111, 250, 111);
    opacity: 0;
}

.no-text {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: rgb(255, 115, 115);
    opacity: 0;
}

.swipe-reject:before,
.swipe-reject {
    color: white;
}

.swipe-accept:before,
.swipe-accept {
    color: white;
}