@import 'colors.scss';

/* ------ ------ App setting and Discovery ------ ------- */
.red-text{
    color: red;
}

/* --- Discovery Preferences Slider  ---*/

.custom-slider div.handle.low {
    visibility: hidden;
}

.custom-slider div.slider-bar .selection {
    left: 0px !important;
}

[slider] div.slider-bar .selection,
slider div.slider-bar .selection {
    background: #bf7fcc
}
.settings-header{
    text-align: center;
    padding: 10px;
    color: $assertive;
    font-size: 22;
    
}
.settings-dropdown{
    border-top: solid $assertive 3px;
}
.help-button {
    border: solid #444 1px;
    border-radius: 10px;
    background-color: white !important;
    color: #444;
}
button.button.help-button:active{
    border-color: $energized !important;
}

.filter-row {
    margin-top: 10px !important;
}
.img-avatar {
    width: 70px;
}

.filter-selector {
    width: 40%;
}

.filter-selector-left {
   border-radius: 8px 0px 0px 8px !important;
}
.filter-selector-right {
   border-radius: 0px 8px 8px 0px  !important;
}

.filter-section {
    border: solid;
    border-width: 1px;
    border-color: #3baa9a;
    border-radius: 8px;
    background-color: rgba(59, 170, 154, 0.05);
    margin: 10px;
}

.continents-container {
    display: flex;
    flex-wrap: wrap;

    div.badge-continent {
        background: #bbbdbf;
        color: #777;
        color: #fff;
        text-align: center;
        border-radius: 15px;
        height: 32px;
        padding-top: 5px;
        padding-right: 12px;
        padding-left: 15px;
        margin-right: 5px;
        margin-top: 5px;
        font-size: 14px;
        
        &.active {
            background: #92278a;
            color: #fff;
        }

        i {
            margin-left: 10px;
            &.ion-plus-round:before {
                width:10px;
            }
            &.ion-checkmark-round:before {
                width:10px;
            }
        }
    }
}