$assertive: rgb(191, 127, 204);

/* ------ ------ App setting and Discovery ------ ------- */
.red-text{
    color: red;
}

/* --- Discovery Preferences Slider  ---*/

.custom-slider div.handle.low {
    visibility: hidden;
}

.custom-slider div.slider-bar .selection {
    left: 0px !important;
}

[slider] div.slider-bar .selection,
slider div.slider-bar .selection {
    background: #bf7fcc
}
.settings-header{
    text-align: center;
    padding: 10px;
    color: $assertive;
    font-size: 22;
}