<ion-view cache-view="false" ng-controller="SpFaq as vm">
    <ion-nav-title>FAQ's</ion-nav-title>
    <ion-content>
        <ion-list>
            <div ng-repeat="item in vm.provider_questions" class="clinic-container">
                <div ng-click="showItem{{item.id}} = !showItem{{item.id}}">
                    <ion-item style="text-align: center; color: rgb(43, 172, 143);" class="item-calm wrap-space" ng-class="{active: showItem{{item.id}}}">
                        <i class="icon" ng-class="showItem{{item.id}} ? 'ion-minus' : 'ion-plus'"></i> &nbsp; <b>{{item.question}}</b>
                    </ion-item>
                    <ion-item class="item-accordion" style="white-space: pre-wrap; font-size: 14px;" ng-show="showItem{{item.id}}" ng-class="showItem{{item.id}} ? 'animated slideInUp' : ''">
                        {{item.answer}}
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view> 