<ion-view title="Organisation's Primary Contacts" class="background-calm" ng-controller="SpEditContacts as vm">
  <ion-content padding="true" class="has-header">
    <form name="contacts_form" novalidate ng-submit="vm.save(contacts_form)">
                    <div class="list">
                        <!-- Phone number -->
                        <label class="item item-input" >
                            <input name="phone_number" 
                                   ng-model="vm.service_provider.phone_number"
                                   type="text" 
                                   placeholder="Phone number" 
                            />
                        </label>
                        <!-- Email -->
                        <label class="item item-input" >
                            <input name="email" 
                                   ng-model="vm.service_provider.email"
                                   type="text" 
                                   placeholder="Email" 
                            />
                        </label>
                        <!-- Phone number -->
                        <label class="item item-input" >
                            <input name="skype_id" 
                                   ng-model="vm.service_provider.skype_id"
                                   type="text" 
                                   placeholder="Skype ID" 
                            />
                        </label>
                        
                    </div>
                    <button class="button button-positive  button-block">Save</button>
                </form>
  </ion-content>
</ion-view>