

@font-face {
    font-family: 'Avenir Next LT Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local('fonts/Avenir Next LT Pro Regular'), url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
}
@font-face {
    font-family: 'LunchBoxBold';
    src: local('fonts/Kimmy Design - LunchBoxBold'), url('../fonts/Kimmy Design - LunchBoxBold.otf') format('otf');
}

.rotate90 {
    transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -ms-transform:rotate(90deg);
}
/* Positions the unread count badge */
.bar .buttons-right .nav-icon-badge {
    top: -35px;
    left: 8px;
}

/* For the image cropper */
.cropArea {
    background: white;
    overflow: hidden;
    width:100%px;
    height:350px;
}


/* Over-ride styles for the multi-slider */
[slider], slider {
    margin-top: 0px;
    margin-bottom: 0px;
}
[slider] div.handle, slider div.handle {
    width: 25px;
    height: 25px;
}
[slider] div.handle:after, slider div.handle:after {
    display: none; /* This gets rid of the dot in the slider drag handles */
}


.flex-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.flex-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.circle {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

/* Swipe cards */

td-cards {
    display: block;
}
/*
td-card.card-0 {
  -webkit-transform: translate3d(0, 0px, 0);
  transform: translate3d(0, 0px, 0);
  top: 0px;
  z-index: 10;
}
td-card.card-1 {
  -webkit-transform: translate3d(0, 4px, 0);
  transform: translate3d(0, 4px, 0);
  z-index: 9;
}
td-card.card-2 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
  z-index: 8;
}
*/


td-card .image {
    padding-top: 20px;
    

}

td-card img {
    max-width: 100%;

}



.fade {
    -webkit-transition: 0.2s opacity linear;
    transition: 0.2s opacity linear;
    opacity: 0;
}

.swipe-buttons {
    position:absolute;
    bottom:10px;
    width:100%;
}

.swipe-button:before,
.swipe-button {
    font-size:80px !important;
    font-weight: 500;
    display:block !important;
}


.accepted-transform {
    -webkit-transition:all linear 0.4s;
    transition:all linear 0.4s;
    opacity:0.7;
    transform: translate3d(500px, 0px, 0px) rotate(0.60rad) !important;
    -webkit-transform: translate3d(500px, 0px, 0px) rotate(0.60rad) !important;
    -moz-transform: translate3d(500px, 0px, 0px) rotate(0.60rad) !important;
    -o-transform: translate3d(500px, 0px, 0px) rotate(0.60rad) !important;
    -ms-transform: translate3d(500px, 0px, 0px) rotate(0.60rad) !important;
}

.rejected-transform {
    -webkit-transition:all linear 0.4s;
    transition:all linear 0.4s;
    opacity:0.7;
    transform: translate3d(-500px, 0px, 0px) rotate(-0.60rad) !important;
    -webkit-transform: translate3d(-500px, 0px, 0px) rotate(-0.60rad) !important;
    -moz-transform: translate3d(-500px, 0px, 0px) rotate(-0.60rad) !important;
    -o-transform: translate3d(-500px, 0px, 0px) rotate(-0.60rad) !important;
    -ms-transform: translate3d(-500px, 0px, 0px) rotate(-0.60rad) !important;
}


/* Action Sheets*/
.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    margin-bottom: 10px;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
  
    font-size: 22px;
    color: inherit;
}
/*.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}*/

ul.list.custom{
    margin-bottom: 0px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

li.item.custom{
    border-bottom-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
}
.black-and-white{
    filter: grayscale();
}

.video-container {
position: relative;
padding-bottom: 40%;
padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.unread-chats-badge {
    background-color: #92278A !important;
    border-width: 1px !important;
    border-color: white !important;
    border-style: solid !important;
    font-weight: 500 !important;
    padding: 0px;
    font-size: 12px !important;
}

.unread-chats-menu-badge {
    background-color: #92278A !important;
    border-color: white !important;
    border-style: solid !important;
    font-weight: 500 !important;
    border-radius: 50px !important;
}

