.hidden{
    display: none;
}
.center{
    text-align: center;
}
.padding-15, .pending-list{
    padding:15px;
}
.padding-25{
    padding:25px;
}

/*.right{
    text-align: right;
}
.left{
    text-align: left;
}*/
.card, .button, image{
    border-radius: 8px;
}

td-card {
    position: absolute;
    left: 50%;
    margin-top: 20px; 
    width: 100%;
    margin-left: -50%;
}
/* Action Sheets*/
.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    margin-bottom: 10px;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    text-align: left;
    font-size: 16px;
    color: inherit;
}
.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}

ul.list.custom{
    margin-bottom: 0px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
}

li.item.custom{
    border-bottom-left-radius: 10% !important;
    border-bottom-right-radius: 10% !important;
}
.black-and-white{
    filter: grayscale();
}

/* ---------- Profile -----------*/

#profile-name-banner{
    background-color: rgba(187, 225, 213, 0.69);
    border: 1px solid rgba(187, 225, 213, 0.69);
    border-radius: 16px;
    padding: 20px 15px;
    margin-top: 10px
}




.list .item.item-accordion {
  line-height: 38px;
  padding-top: 10px;
  padding-bottom: 0;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}