.hidden{
    display: none;
}
.center{
    text-align: center;
}
/*.right{
    text-align: right;
}
.left{
    text-align: left;
}*/
.card, .button, td-card, image{
    border-radius: 8px;
    
}
.image{
    border-radius: 4px !important;
}
.chat-bubble{
    padding: 10px !important;

}
/* Action Sheets*/
.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    margin-bottom: 10px;
}
.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    text-align: left;
    font-size: 16px;
    color: inherit;
}
.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}
.black-and-white{
    filter: grayscale();
}

