.hidden{
    display: none;
}
.center{
    text-align: center;

}

/*.right{
    text-align: right;
}
.left{
    text-align: left;
}*/
.card, .button, td-card, image{
    border-radius: 8px;
    
}
.image{
    border-radius: 4px !important;
}

.chat-date-recieved{
    font-size: 12px; 
    color: rgb(155,155,155);  
}
.button.button-outline.button-light{
    border-width: 2px;
    padding: 0px;
    margin-top: 45%;
    border-color: #ffffff;
}
.chats-list-odd{
    background: rgba(155, 155, 155, 0.10); 
}
.chats-list-even{
    background: rgba(155, 155, 155, 0.15)
}

#login-background-image {
    background-image: url("img/kids-edited.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0.64;
}

button.button, button.button.button-stable{
    background-color: rgb(221, 221, 221);
}

/* Action Sheets*/
.platform-android .action-sheet-backdrop.active {
        background-color: rgba(0, 0, 0, 0.1);
}

.platform-android .action-sheet {
    align-content: center;
    margin: auto;
    max-width: 96vw;
    border-radius: 5px;
    margin-bottom: 10px;
}

.platform-android .action-sheet .action-sheet-title,
.platform-android .action-sheet .button {
    text-align: left;
    font-size: 16px;
    color: inherit;
}

.platform-android .action-sheet .action-sheet-title {
    font-size: 14px;
    padding: 16px;
    color: #666;
}

.platform-android .action-sheet .button {
    border-color: #e2e2e2;
    padding-left: 16px;
    color: #104e89;
}

.platform-android .action-sheet .button.destructive {
    color: red;
}

.platform-android .action-sheet .button.active,
.platform-android .action-sheet .button.activated {
    background: #e8e8e8;
}

.platform-android .action-sheet-group {
    border-radius: 0;
    background-color: #fafafa;
}

.platform-android .action-sheet-has-icons .button {
    padding-left: 56px;
}