/* --- padding --- */

.no-padding {
    padding: 0px;
}

.padding-5 {
    padding: 5px;
}

.padding-10 {
    padding: 10px;
}

.padding-15 {
    padding: 15px;
}

.padding-20 {
    padding: 20px;
}

.padding-25 {
    padding: 25px;
}

.padding-left-right {
    padding-left: 10px;
    padding-right: 10px;
}


/* --- Positioning and Display ---*/

.hidden {
    display: none;
}

.center {
    text-align: center;
}

.wide {
    width: 100%;
}

.cf {
    clear: both !important;
}


/* --- Text and Font --- */

.bold {
    font-weight: bold;
}

textarea {
    padding: 3px;
}

.text-size-18 {
    font-size: 18px;
}

.text-size-24 {
    font-size: 24px;
}

.text-size-28 {
    font-size: 28px;
}


/* --- Chat --- */


/* This is need for the chat screen otherwise there is a pixel gap between the button bar and the message box */

.bar-subfooter {
    bottom: 43px;
}

.subfooter-height {
    height: 43px;
}

.auto-height {
    height: auto !important;
}


/* fixes an ios bug bear */

button.ion-android-send {
    padding-top: 2px;
}


/* add this to keep your footer buttons down
at the bottom as the textarea resizes */

.footer-btn-wrap {
    position: relative;
    height: 100%;
    width: 50px;
    top: 7px;
}

.footer-btn {
    position: absolute !important;
    bottom: 0;
}

img.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
}

img.profile-pic.left {
    left: 10px;
}

img.profile-pic.right {
    right: 10px;
}

img.profile-pic.circle {
    right: 30px;
    top: 0px;
    border-radius: 100%;
}

.ion-email {
    float: right;
    font-size: 32px;
    vertical-align: middle;
}

.chat-header {
    padding: 5px;
    text-align: center;
    font-size: 14px;
}

.message {
    font-size: 14px;
}

.message-detail {
    white-space: nowrap;
    font-size: 10px;
}

.bar.item-input-inset .item-input-wrapper input {
    width: 100% !important;
}

.message-wrapper {
    position: relative;
}

.message-footer {
    border: 1px 0 0 0;
    border-style: solid;
}

.message-wrapper:last-child {
    margin-bottom: 10px;
}

.chat-bubble {
    border-radius: 6px;
    display: inline-block;
    padding: 10px;
    position: relative;
    margin: 8px;
    max-width: 80%;
}

.user-messages-top-icon {
    font-size: 28px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
    right: 5px;
}

.msg-header-username {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    top: -3px;
}

.pending-list {
    padding: 15px;
}

.card,
.button,
image {
    border-radius: 8px;
}

td-card {
    position: absolute;
    left: 50%;
    margin-top: 20px;
    width: 100%;
    margin-left: -50%;
    height: 100%;
}


/* ---------- Profile -----------*/

#profile-name-banner {
    background-color: rgba(187, 225, 213, 0.69);
    border: 1px solid rgba(187, 225, 213, 0.69);
    border-radius: 16px;
    padding: 20px 15px;
    margin-top: 10px
}


/* --------- Edit Profile ---------*/

.profileImg {
    width: 100%;
    padding: 0;
}


/* --------- My Relationships ---------------*/

.list .item.item-accordion {
    line-height: 26px;
    padding-bottom: 0;
}

.list .item.item-accordion.ng-hide {
    line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
    display: block !important;
}


/* --- Set Location ---*/


/* For the google map */

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}


/* --- clinics --- */

.clinic-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    border-radius: 25px;
    border-color: '#fff';
}

.clinic-container .item.item-accordion {
    padding-top: 10px !important;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.wrap-space {
    white-space: normal !important;
}


/* --- Discovery Preferences Slider  ---*/

.custom-slider div.handle.low {
    visibility: hidden;
}

.custom-slider div.slider-bar .selection {
    left: 0px !important;
}

[slider] div.slider-bar .selection,
slider div.slider-bar .selection {
    background: #bf7fcc
}