<div class="badge-info-container">
    <div class="row center">
        <img class="id-badge-visible col-20 padding-10" src="img/sperm_ic.svg">
        <h5>People with this symbol have Sperm</h5>
    </div>
    <div class="row center">
        <img class="id-badge-visible col-20 padding-10" src="img/womb_ic.svg">
        <h5>People with this symbol have a Womb</h5>
    </div>
    <div class="row center">
        <img class="id-badge-visible col-20 padding-10" src="img/embryo_ic.svg" >
        <h5>People with this symbol have a frozen Embryo</h5>
    </div>
    <div class="row center">
        <img class="id-badge-visible col-20 padding-10" src="img/egg_ic.svg">
        <h5>People with this symbol have Eggs</h5>
    </div>
</div>