<ion-modal-view>

    <ion-header-bar class="bar-positive">
        <div class="buttons">
            <i class="button button-icon icon ion-android-arrow-back" ng-click="vm.close()"></i>
        </div>
        <h1 class="title">{{vm.profile.name}}</h1>
        <div class="buttons">

            <i class="button button-icon icon ion-android-close" ng-click="vm.pass()"></i>
            <i class="button button-icon icon ion-checkmark" ng-click="vm.like()"></i>

        </div>
    </ion-header-bar>

    <ion-content>

        <ion-slide-box show-pager="true" does-continue="true">
            <ion-slide ng-repeat="photo in vm.profile.photos track by $index">
                <img ng-src="{{photo.url()}}" style="width:100%" />
            </ion-slide>
            <ion-slide ng-if="!vm.profile.photos.length">
                <img src="img/generic_avatar.jpg" style="width:100%" />
            </ion-slide>
        </ion-slide-box>

        <div id="profile-name-banner" class="col-80 col-offset-10">
            <div class="center text-color-white text-size-24">
                {{vm.profile.name}}, {{vm.profile.age}}
            </div>
        </div>

        <div class="padding-15">
            <h4 style="color:#666666" class="center">{{vm.profile.location | distance}} {{'AWAY' | translate}} </h4>
            <div class="badge-row" ng-click="vm.onClickBadgeInfo()">
                <img ng-class="profile.personSperm ? 'id-badge' : 'id-no-badge'" src="img/sperm_ic.svg">
                <img ng-class="profile.personWomb ? 'id-badge' : 'id-no-badge'" src="img/womb_ic.svg">
                <img ng-class="profile.personEgg ? 'id-badge' : 'id-no-badge'" src="img/egg_ic.svg">
                <img ng-class="profile.personEmbryo ? 'id-badge' : 'id-no-badge'" src="img/embryo_ic.svg">
            </div>
            <h4 style="color:#666666">About Me</h4>
            <div ng-show="vm.profile.about" style="color:#9B9B9B; white-space: pre-wrap;" class="text-size-18">
                {{vm.profile.about}}
            </div>
        </div>

    </ion-content>
</ion-modal-view>