<ion-view cache-view="false" view-title="Share  a Video ">

<ion-content>

 <div class="row vid" style="background-color: #000000; margin-bottom: 10px">
   <video  height="{{vid_height}}" id="video_to_upload" style="background: #000000" controls>
  <source src="{{currentVideoPath}}">
  Your browser does not support the video tag.
</video>

</div>

<div class="row" style="margin-bottom: 20px">
<div >
	<button style="width: 100%;margin-left: 13%; background-color: #bbe1d5 !important;" ng-click="recordVideo()" class="button button-balanced">Try again</button>
</div>

<div style="margin-left: 45%;">
	<button style="width: 100%;margin-left: 13%; background-color: #bbe1d5 !important;" class="button button-balanced" ng-click="share()" >Share</button>
</div>
</div>


<div class="row">
	<div >
	<button ui-sref="menu.sharevidhome" style="width: 100%;margin-left: 13%; background-color: #bbe1d5 !important;" class="button button-balanced">Cancel</button>
	</div>
</div>
</ion-content>

</ion-view>