<ion-view view-title="{{'EDIT_PROFILE_TITLE' | translate}}" cache-view="false" ng-controller="ProfileEdit as vm">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear" ng-click="vm.myGoBack()">
            <i class="icon ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <i class="button button-icon icon ion-arrow-swap" ng-click="vm.swapPhotos()" ng-if="vm.selectedCount() == 2" ng-cloak></i>
        <i class="button button-icon icon ion-ios-trash" ng-click="vm.deletePhotos()" ng-if="vm.canDeletePhotos()" ng-cloak></i>
    </ion-nav-buttons>

    <ion-content padding="true">
        <div class="about-you-header"><b class="padding-5">My Photos</b>
        </div>
        <div class="row">
            <div class="col col-33" ng-repeat="photo in vm.photos track by $index">
                <img ng-class="photo.selected ? 'profileImageSelected' : 'profileImage'" ng-click="vm.toggleSelected(photo)" ng-src="{{photo.file.url()}}"
                    class="profileImg">
            </div>
            <div class="col col-33" id="addPhoto" ng-if="vm.canAddPhoto()">
                <img ng-src="{{vm.NO_IMAGE}}" ng-click="vm.addPhoto()" class="profileImg" />
            </div>
            <!-- TODO could have some placeholder images in the other empty spots so there isn't odd looking empty space -->
        </div>

        <div ng-if="vm.photosInReview.length">
            Awaiting Review
        </div>
        <div class="row" ng-if="vm.photosInReview.length">
            <div class="col col-33" ng-repeat="photo in vm.photosInReview track by $index">
                <img ng-class="photo.selected ? 'profileImageSelected' : 'profileImage'" ng-click="vm.toggleSelected(photo)" ng-src="{{photo.file.url()}}"
                    class="profileImg">
            </div>
        </div>

        <br/>
        <div>
            <div class="about-you-header"><b class="padding-5">About You</b>
            </div>
            <h5 class="about-you-info padding-5">{{'ABOUT_YOU' | translate}}</h5>

            <div ng-class="!vm.about ? 'red-border' : ''">
                <textarea rows="6" class="wide input-grey text-size-18 padding-15 " placeholder="Type Here..." id="aboutYou" ng-model="vm.about"
                    ng-keyup="vm.expandText()" ng-keydown="vm.expandText()">
                    </textarea>

            </div>

            <div ng-hide="vm.profile.about != vm.about || vm.about" class="more-information-error">
                <p>* You still need to write a little about yourself.</p>
            </div>
        </div>
        <!--Badge Container-->
            <div class="badge-row">
                <img ng-class="vm.personSperm ? 'badge-visible' : 'badge-hidden' " src="img/sperm_ic.svg">
                <img ng-class="vm.personWomb ? 'badge-visible' : 'badge-hidden' " src="img/womb_ic.svg">
                <img ng-class="vm.personEgg ? 'badge-visible' : 'badge-hidden' "  src="img/egg_ic.svg">
                <img ng-class="vm.personEmbryo ? 'badge-visible' : 'badge-hidden' "  src="img/embryo_ic.svg">
            </div>


        <!--Self definition filter cards. -->
        <div class="about-you-header"><b class="padding-5">About Why You're Here</b>
            <ion-slides class="filter-container" options="{pagination: false}">
                <!--Tier One-->
                <ion-slide-page class="filter-page">
                    <div class="filter-radio">
                        <div class="row ">

                            <input type="radio" name="category" ng-model="vm.personCategory" value="1" id="single" />

                            <label class="col-80 center radio-label" for="single">It's just me for now</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-radio">
                        <div class="row ">

                            <input type="radio" name="category" ng-model="vm.personCategory" value="2" id="partner" />

                            <label class="col-80 center radio-label text-wrap" for="partner">I'm here with my partner</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-radio">
                        <div class="row ">

                            <input type="radio" name="category" ng-model="vm.personCategory" value="3" id="organization" />

                            <label class="col-80 center radio-label text-wrap" for="organization">I represent an organization</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-button-row-filter-card">
                        <div class="nav-button-container-center">
                            <a class="button button-icon icon ion-arrow-right-a text-colour-energized"></a>
                        </div>
                    </div>
                </ion-slide-page>

                <!--Tier Two-->
                <ion-slide-page class="filter-page">
                    <div class="filter-radio">
                        <div class="row ">

                            <input type="radio" name="personType" ng-model="vm.personType" value="1" id="curious" />

                            <label class="col-80 center radio-label" for="curious">I'm not quite ready for a baby, but I'm curious</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-radio">
                        <div class="row">
                            <input type="radio" name="personType" ng-model="vm.personType" value="2" id="serious" />

                            <label class="col-80 center radio-label" for="serious">I'm ready now, I'm pretty serious</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                    <div class="nav-button-row-filter-card">
                        <div class="nav-button-container-left">
                            <a class="button button-icon icon ion-arrow-left-a text-colour-energized"></a>
                        </div>
                        <div class="nav-button-container-right">
                            <a class="button button-icon icon ion-arrow-right-a text-colour-energized"></a>
                        </div>
                    </div>
                </ion-slide-page>

                <!--Tier Three-->
                <ion-slide-page>

                    <ion-toggle style="border-radius: 25px; border-color: rgba(187, 225, 213, 0.69); margin: 5px" class="item-text-wrap" ng-model="vm.personSperm"
                        toggle-class="toggle-assertive">
                        <span ng-class=" !vm.personSperm ? 'toggle-text-active' : 'toggle-text-inactive' ">
                            {{ !vm.personSperm ? "I need help with Sperm" : "I have have access to healthy Sperm" }}
                        </span>
                    </ion-toggle>


                    <ion-toggle style="border-radius: 25px; border-color: rgba(187, 225, 213, 0.69); margin: 5px" class="item-text-wrap" ng-model="vm.personEgg"
                        toggle-class="toggle-assertive">
                        <span ng-class=" !vm.personEgg ? 'toggle-text-active' : 'toggle-text-inactive' ">
                            {{ !vm.personEgg ? "I need help with an Egg" : "I'm good for an Egg" }}
                        </span>
                    </ion-toggle>


                    <ion-toggle style="border-radius: 25px; border-color: rgba(187, 225, 213, 0.69); margin: 5px" class="item-text-wrap" ng-model="vm.personWomb"
                        toggle-class="toggle-assertive">
                        <span ng-class=" !vm.personWomb ? 'toggle-text-active' : 'toggle-text-inactive' ">
                            {{!vm.personWomb ? "I need help with a Womb" :  "I have a Womb" }}
                        </span>
                    </ion-toggle>


                    <ion-toggle style="border-radius: 25px; border-color: rgba(187, 225, 213, 0.69); margin: 5px" class="item-text-wrap" ng-model="vm.personEmbryo"
                        toggle-class="toggle-assertive">
                        <span ng-class=" !vm.personEmbryo ? 'toggle-text-active' : 'toggle-text-inactive' ">
                            {{ !vm.personEmbryo ? "I need help with an Embryo"  : "I'm good for an Embryo" }}
                        </span>
                    </ion-toggle>

                    <div class="nav-button-row-filter-card">
                        <div class="nav-button-container-center">
                            <a class="button button-icon icon ion-arrow-right-a text-colour-energized"></a>
                        </div>
                    </div>
                </ion-slide-page>

                <!--Tier Four-->
                <ion-slide-page class="filter-page">
                    <div class="filter-radio">
                        <div class="row ">

                            <input type="radio" name="personHelpLevel" ng-model="vm.personHelpLevel" value="1" id="considerHelping" />

                            <label class="col-80 center radio-label" for="considerHelping">I'd consider helping someone maybe</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-radio">
                        <div class="row ">

                            <input type="radio" name="personHelpLevel" ng-model="vm.personHelpLevel" value="2" id="primarilyHelping" />

                            <label class="col-80 center radio-label" for="primarilyHelping">I'm primarily here to help others</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-radio">
                        <div class="row ">

                            <input type="radio" name="personHelpLevel" ng-model="vm.personHelpLevel" value="3" id="notHelping" />

                            <label class="col-80 center radio-label" for="notHelping">I'm not able to help others at all</label>

                            <div class="col-20 center">
                                <div class="check"></div>
                            </div>
                        </div>
                    </div>

                    <div class="nav-button-row-filter-card">
                        <div class="nav-button-container-center">
                            <a class="button button-icon icon ion-arrow-left-a text-colour-energized"></a>
                        </div>
                    </div>
                </ion-slide-page>

            </ion-slides>
        </div>



        <!--<ion-radio name="category" ng-model="vm.personCategory" value="1">Its just me for now.</ion-radio>-->
        <!--<ion-radio name="category" ng-model="vm.personCategory" value="2">I'm here with my partner.</ion-radio>-->
        <!--<ion-radio name="category" ng-model="vm.personCategory" value="3">I represent an organization.</ion-radio>-->

        <!--
        <ion-radio name="personType" ng-model="vm.personType" value="1">I'm not quite ready but I'm certainly curious</ion-radio>-->
        <!--<ion-radio name="personType" ng-model="vm.personType" value="2">I'm ready now, I'm pretty serious.</ion-radio>-->


        <!--<ion-toggle ng-model="vm.personSperm" toggle-class="toggle-assertive">I have plenty of sperm</ion-toggle>
        <ion-toggle ng-model="vm.personEgg" toggle-class="toggle-assertive">I am good for eggs</ion-toggle>
        <ion-toggle ng-model="vm.personWomb" toggle-class="toggle-assertive">I have a womb and plan to use it</ion-toggle>
        <ion-toggle ng-model="vm.personEmbryo" toggle-class="toggle-assertive">I have an embryo in the freezer</ion-toggle>-->

        <!--<ion-radio name="personHelpLevel" ng-model="vm.personHelpLevel" value="1">I'd consider helping someone maybe.</ion-radio>
        <ion-radio name="personHelpLevel" ng-model="vm.personHelpLevel" value="2">I'm primarily here to help others.</ion-radio>
        <ion-radio name="personHelpLevel" ng-model="vm.personHelpLevel" value="3">I'm not able to help others at all.</ion-radio>-->


        <div class="text-align center padding-25">
            <button class="button button-positive" ng-click="vm.saveProfile()">&nbsp;{{'SAVE' | translate}}&nbsp;</button>
        </div>
    </ion-content>
</ion-view>