<ion-modal-view>

            <ion-header-bar class="bar bar-header bar-positive">
                <h1 class="title">Upgrade account</h1>
                <button class="button button-clear button-primary" ng-click="upgradeModal.hide()">Cancel</button>
            </ion-header-bar>
            <ion-content class="padding">
                <p>
                    Only Upgrade your account if you represent an organisation which offers or is considering offering helpful information and/or services to the Just-a-Baby community. Your photos, profiles, matches and other information will be lost during this process and your account will be converted to one designed for organisations. 
                </p>
                <button class="button button-royal button-full" ng-click="continueUpgrade()"> Continue <button>
            </ion-content>
</ion-modal-view>