<ion-view view-title="{{'EDIT_PROFILE_TITLE' | translate}}" cache-view="false" ng-controller="ProfileEdit as vm">

    <ion-nav-bar class="bar-positive">
        <ion-nav-back-button class="button-clear" ng-click="vm.saveProfile()">
            <i class="icon ion-ios-arrow-back"></i>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-buttons side="primary">
        <i class="button button-icon icon ion-arrow-swap" ng-click="vm.swapPhotos()" ng-if="vm.selectedCount() == 2" ng-cloak></i>
        <i class="button button-icon icon ion-ios-trash" ng-click="vm.deletePhotos()" ng-if="vm.canDeletePhotos()" ng-cloak></i>
    </ion-nav-buttons>

    <ion-content padding="true">
        <div class="about-you-header"><b class="padding-5">My Photos</b>
        </div>
        <div class="row">
            <div class="col col-33" ng-repeat="photo in vm.photos track by $index">
                <img ng-class="photo.selected ? 'profileImageSelected' : 'profileImage'" ng-click="vm.toggleSelected(photo)" ng-src="{{photo.file.url()}}" class="profileImg">
            </div>
            <div class="col col-33" id="addPhoto" ng-if="vm.canAddPhoto()">
                <img ng-src="{{vm.NO_IMAGE}}" ng-click="vm.addPhoto()" class="profileImg" />
            </div>
            <!-- TODO could have some placeholder images in the other empty spots so there isn't odd looking empty space -->
        </div>

        <div ng-if="vm.photosInReview.length">
            Awaiting Review
        </div>
        <div class="row" ng-if="vm.photosInReview.length">
            <div class="col col-33" ng-repeat="photo in vm.photosInReview track by $index">
                <img ng-class="photo.selected ? 'profileImageSelected' : 'profileImage'" ng-click="vm.toggleSelected(photo)" ng-src="{{photo.file.url()}}" class="profileImg">
            </div>
        </div>

        <br/>
        <div>
            <div class="about-you-header"><b class="padding-5">About You</b>
            </div>
            <h5 class="about-you-info padding-5">{{'ABOUT_YOU' | translate}}</h5>

            <div ng-class="{'red-border': vm.profile.about == vm.about || !vm.about}">
                <textarea rows="6" class="wide input-grey text-size-18 padding-15 " placeholder="Type Here..." id="aboutYou" ng-model="vm.about" ng-keyup="vm.expandText()" ng-keydown="vm.expandText()">
                    </textarea>

            </div>

            <div ng-hide="vm.profile.about != vm.about || vm.about" class="more-information-error">
                <p>* You still need to write a little about yourself.</p>
            </div>
            <br/>
        </div>


        <!--Self definition filter cards. -->

        <div class="about-you-header hidden"><b class="padding-5">About Why You're Here</b>


            <div ng-init="isTierOneOpen = true; isTierTwoOpen = false; isTierThreeOpen = false;">
                <!--Tier one-->
                <div class="card" style="padding-right: 20px;padding-left: 20px; padding-top: 30px;" ng-show="isTierOneOpen">
                    <ul>
                        <!--The user selects ONE of the below-->

                        <li class=" filter-radio-li">
                            <div class="row">
                                <input type="radio" id="option-1" name="teir-1" />

                                <label class="col-80 center" style="margin-right: 5px;" for="option-1">I'm not quite ready but I'm certainly curious.</label>
                                <div class="col-20 center" style="vertical-align: middle;">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </li>
                        <li class=" filter-radio-li">
                            <div class=" row">
                                <input type="radio" id="option-2" name="teir-1" />

                                <label class="col-80 center" style="margin-right: 5px;" for="option-2">I'm ready, now, I'm pretty serious</label>
                                <div class="col-20 center" style="vertical-align: middle;">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <div class="nav-button-row-filter-card">

                        <div class="nav-button-container-center">
                            <a class="button button-icon icon ion-arrow-right-a text-colour-energized" ng-click="isTierOneOpen = false; isTierTwoOpen = true;">

                            </a>
                        </div>

                    </div>
                </div>




                <!--Tier Two-->
                <div class="card" style="padding: 10px;" ng-show="isTierTwoOpen">
                    <ul>
                        <!--The user can select many options of the next three-->

                        <li class="filter-card-li">
                            <ion-checkbox class="checkbox-assertive item-checkbox-right item-text-wrap filter-checkbox checkbox-square">
                                <label class="checkbox-label">I/we have plenty of sperm.</label>
                            </ion-checkbox>
                        </li>


                        <li class="filter-card-li">
                            <ion-checkbox class="checkbox-assertive item-checkbox-right item-text-wrap filter-checkbox checkbox-square">
                                <label class="checkbox-label">I/we are good for eggs.</label>
                            </ion-checkbox>
                        </li>
                        <li class="filter-card-li">
                            <ion-checkbox class="checkbox-assertive item-checkbox-right item-text-wrap filter-checkbox checkbox-square">
                                <label class="checkbox-label">I/we have an embryo.</label>
                            </ion-checkbox>
                        </li>

                        <li class="filter-card-li">
                            <ion-checkbox class="checkbox-assertive item-checkbox-right item-text-wrap filter-checkbox checkbox-square">
                                <label class="checkbox-label">I/we have a womb.</label>
                            </ion-checkbox>
                        </li>

                        <!--This options selects the preceeding three-->
                        <li style="border-bottom: 1px solid #d1d1d1; margin: 5px;"></li>


                        <li class="filter-radio-li">
                            <div class=" row">
                                <input type="radio" id="option-4" name="teir-3" />

                                <label class="col-80 center" style="margin-right: 5px;" for="option-4">I need help with all of the above.</label>
                                <div class="col-20 center" style="vertical-align: middle;">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="nav-button-row-filter-card">
                        <div class="nav-button-container-left">
                            <a class="button button-icon icon ion-arrow-left-a text-colour-energized" ng-click="isTierThreeOpen = false; isTierTwoOpen = false; isTierOneOpen = true"></a>
                        </div>
                        <div class="nav-button-container-right">
                            <a class="button button-icon icon ion-arrow-right-a text-colour-energized" ng-click="isTierOneOpen = false; isTierTwoOpen = false; isTierThreeOpen = true;"></a>
                        </div>
                    </div>
                </div>

                <!--Tier Three-->
                <div class="card" style="padding-right: 20px;padding-left: 20px; padding-top: 30px;" ng-show="isTierThreeOpen">
                    <ul>
                        <li class="filter-radio-li">
                            <div class=" row">
                                <input type="radio" id="option-3" name="teir-3" />

                                <label class="col-80 center" style="margin-right: 5px;" for="option-3">I'm hoping for a child, I'd consider helping others if it felt right.</label>
                                <div class="col-20 center" style="vertical-align: middle;">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </li>
                        <li class=" filter-radio-li">
                            <div class=" row">
                                <input type="radio" id="option-5" name="teir-3" />

                                <label class="col-80 center" style="margin-right: 5px;" for="option-5">I'm solely here to help others with thier dream.</label>
                                <div class="col-20 center" style="vertical-align: middle;">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </li>
                        <li class=" filter-radio-li">
                            <div class=" row">
                                <input type="radio" id="option-6" name="teir-3" />

                                <label class="col-80 center" style="margin-right: 5px;" for="option-6">I'm hoping for a child and I'm not able to help others, sorry.</label>
                                <div class="col-20 center" style="vertical-align: middle;">
                                    <div class="check"></div>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <div class="nav-button-row-filter-card">
                        <div class="nav-button-container-center">
                            <a class="button button-icon icon ion-arrow-left-a text-colour-energized" ng-click="isTierOneOpen = false; isTierTwoOpen = true; isTierThreeOpen = false;"></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="text-align center padding-25">
            <button class="button button-positive" ng-click="vm.saveProfile()">&nbsp;{{'SAVE' | translate}}&nbsp;</button>
        </div>
    </ion-content>
</ion-view>